<div class="demo-section k-content" >
    <h4>Set alarm time:</h4>
    @(Html.Kendo().TimePicker()
        .Name("timepicker")
        .Value("10:00 AM")
        .HtmlAttributes(new { style = "width: 100%", title = "timepicker" })
        .DateInput()
    )
    </div>
