@addTagHelper *, Kendo.Mvc

<div class="demo-section" style="width: 500px;">
    <kendo-timepicker name="timepicker"
                      value='DateTime.Parse("8:00 AM")'
                      min='DateTime.Parse("8:00 AM")'
                      max='DateTime.Parse("6:00 PM")'>
    </kendo-timepicker>
</div>