  <div class="demo-section k-content">
    <h4>Horizontal</h4>

      @(Html.Kendo().Menu()
        .Name("horizontalMenu")
        .Scrollable(true)
        .Items(items =>
        {
            items.Add()
                .Text("Mens")
                .Items(children =>
                {
                    children.Add().Text("Jackets and Coats");
                    children.Add().Text("Jeans");
                    children.Add().Text("Knitwear");
                    children.Add().Text("Shirts");
                    children.Add().Text("Belts");
                    children.Add().Text("Socks");
                    children.Add().Text("Fan Zone");
                });

            items.Add()
                .Text("Ladies")
                .Items(children =>
                {
                    children.Add().Text("Jackets and Coats");
                    children.Add().Text("Jeans");
                    children.Add().Text("Knitwear");
                    children.Add().Text("Shirts");
                    children.Add().Text("Belts");
                    children.Add().Text("Socks");
                    children.Add().Text("Fan Zone");
                });

            items.Add()
                .Text("Kids")
                .Items(children =>
                {
                    children.Add().Text("Jackets and Coats");
                    children.Add().Text("Jeans");
                    children.Add().Text("Knitwear");
                    children.Add().Text("Shirts");
                    children.Add().Text("Belts");
                    children.Add().Text("Socks");
                    children.Add().Text("Fan Zone");
                });

            items.Add()
                .Text("Sports");
            items.Add()
                .Text("Brands");
            items.Add()
                .Text("Accessories");
            items.Add()
                .Text("Promotions");
        })
      )

    <h4 style="padding-top: 2em;margin-top:30px">Vertical</h4>

    @(Html.Kendo().Menu()
        .Name("verticalMenu")
        .HtmlAttributes(new { style = "width:100px; height:150px;" })
        .Orientation(MenuOrientation.Vertical)
        .Scrollable(true)
        .Items(items =>
        {
            items.Add()
                .Text("Mens")
                .Items(children =>
                {
                    children.Add().Text("Jackets and Coats");
                    children.Add().Text("Jeans");
                    children.Add().Text("Knitwear");
                    children.Add().Text("Shirts");
                    children.Add().Text("Belts");
                    children.Add().Text("Socks");
                    children.Add().Text("Fan Zone");
                });

            items.Add()
                .Text("Ladies")
                .Items(children =>
                {
                    children.Add().Text("Jackets and Coats");
                    children.Add().Text("Jeans");
                    children.Add().Text("Knitwear");
                    children.Add().Text("Shirts");
                    children.Add().Text("Belts");
                    children.Add().Text("Socks");
                    children.Add().Text("Fan Zone");
                });

            items.Add()
                .Text("Kids")
                .Items(children =>
                {
                    children.Add().Text("Jackets and Coats");
                    children.Add().Text("Jeans");
                    children.Add().Text("Knitwear");
                    children.Add().Text("Shirts");
                    children.Add().Text("Belts");
                    children.Add().Text("Socks");
                    children.Add().Text("Fan Zone");
                });

            items.Add()
                .Text("Sports");
            items.Add()
                .Text("Brands");
            items.Add()
                .Text("News");
            items.Add()
                .Text("About us");
        })
    )
</div>
<style>
    .k-menu-scroll-wrapper.horizontal li.k-item.k-last {
        border-right-width: 0;
    }
</style>