
        <div id="example">

            <div class="demo-section k-header">
                <h4>Orders</h4>
                <input id="orders" style="width: 400px" />
            </div>

            <script>
                $(document).ready(function() {
                    $("#orders").kendoComboBox({
                        template: '<span class="order-id">#= OrderID #</span> #= ShipName #, #= ShipCountry #',
                        dataTextField: "ShipName",
                        dataValueField: "OrderID",
                        virtual: {
                            itemHeight: 26,
                            valueMapper: function(options) {
                                $.ajax({
                                    url: "http://demos.telerik.com/kendo-ui/service/Northwind.svc/Orders/ValueMapper",
                                    type: "GET",
                                    data: convertValues(options.value),
                                    success: function (data) {
                                        options.success(data);
                                    }
                                })
                            }
                        },
                        height: 520,
                        dataSource: {
                            type: "odata",
                            transport: {
                                read: "http://demos.telerik.com/kendo-ui/service/Northwind.svc/Orders"
                            },
                            schema: {
                                model: {
                                    fields: {
                                        OrderID: { type: "number" },
                                        Freight: { type: "number" },
                                        ShipName: { type: "string" },
                                        OrderDate: { type: "date" },
                                        ShipCity: { type: "string" }
                                    }
                                }
                            },
                            pageSize: 80,
                            serverPaging: true,
                            serverFiltering: true
                        }
                    });
                });

                function convertValues(value) {
                    var data = {};

                    value = $.isArray(value) ? value : [value];

                    for (var idx = 0; idx < value.length; idx++) {
                        data["values[" + idx + "]"] = value[idx];
                    }

                    return data;
                }
            </script>

            <style>
                .demo-section {
                    width: 400px;
                }
                .demo-section h2 {
                    text-transform: uppercase;
                    font-size: 1.2em;
                    margin-bottom: 10px;
                }
            </style>

        </div>
