@color1: #aaa;
@color2: #bbb;
@color3: #ccc;
@color4: #ddd;
@color5: #eee;
@color6: #fff;
@step: 1%;

.lighten(@amount) when (@amount = 100) { }

.lighten(@amount) when not (@amount = 100) {
    @mod1: lighten(@color1, @amount);
    @mod2: lighten(@color2, @amount);
    @mod3: lighten(@color3, @amount);
    @mod4: lighten(@color4, @amount);
    @mod5: lighten(@color5, @amount);
    @mod6: lighten(@color6, @amount);

    process: ~"lighten(@VARIABLE, @{amount})=[ @{mod1} @{mod2} @{mod3} @{mod4} @{mod5} @{mod6} ]";

    .lighten(@amount + @step);
}

.darken(@amount) when (@amount = 100) { }

.darken(@amount) when not (@amount = 100) {
    @mod1: darken(@color1, @amount);
    @mod2: darken(@color2, @amount);
    @mod3: darken(@color3, @amount);
    @mod4: darken(@color4, @amount);
    @mod5: darken(@color5, @amount);
    @mod6: darken(@color6, @amount);

    process: ~"darken(@VARIABLE, @{amount})=[ @{mod1} @{mod2} @{mod3} @{mod4} @{mod5} @{mod6} ]";

    .darken(@amount + @step);
}

.contrast() {
    @mod1: contrast(@color1);
    @mod2: contrast(@color2);
    @mod3: contrast(@color3);
    @mod4: contrast(@color4);
    @mod5: contrast(@color5);
    @mod6: contrast(@color6);

    process: ~"contrast(@VARIABLE)=[ @{mod1} @{mod2} @{mod3} @{mod4} @{mod5} @{mod6} ]";
}

.result {
    .lighten(@step);
    .darken(@step);
    .contrast();
}
