
       <div id="example">
            <div id="grid"></div>
            <script>
                $(document).ready(function() {
                    $("#grid").kendoGrid({
                        dataSource: {
                            type: "odata",
                            transport: {
                                read: "http://demos.telerik.com/kendo-ui/service/Northwind.svc/Employees"
                            },
                            pageSize: 20,
                            serverPaging: true,
                            serverSorting: true,
                            serverFiltering: true,
                        },
                        editable: true,
                        filterable: true,
                        pageable: true,
                        columns: [
                            {
                                field: "FirstName",
                                title: "First Name",
                                filterable: { multi: true },
                                width: "220px"
                            },
                            {
                                field: "LastName",
                                filterable: { multi: true },
                                title: "Last Name",
                                width: "220px"
                            },
                            {
                                field: "Country",
                                filterable: {
                                    multi: true,
                                    checkAll: true,
                                    itemTemplate: function(e) {
                                        if (e.field == "all") {
                                            //handle the check-all checkbox template
                                            return "<div><label><strong><input type='checkbox' />#= all#</strong></label></div>";
                                        } else {
                                            //handle the other checkboxes
                                            return "<span><label><input type='checkbox' name='" + e.field + "' value='#=Country#'/><span>#= Country #</span></label></span>"
                                        }
                                    }
                                },
                                width: "220px"
                            },
                            {
                                field: "City",
                                filterable: { 
                                  multi: true, 
                                  dataSource: [{
                                    City: "Seattle",
                                  },{
                                    City: "Tacoma",
                                  },{
                                    City: "Kirkland",
                                  },{
                                    City: "Redmond",
                                  },{
                                    City: "London"
                                  }],
                                  checkAll: false 
                                },
                                width: "220px"
                            },
                            {
                                filterable: {
                                    multi: true
                                },
                                field: "Title"
                            }
                        ]
                    });
                });
            </script>
        </div>
