//http://blog.gyoshev.net/cuttle/

@widget-background-color: @background;
@widget-border-color: lighten(@hover-text-color, 10%);

@inversed-text-color: #fff;
@accent-hover-background: #e53c48;

@theme-name: ~"nova";

@import "common/mixins.less";
@import "themes/type.less";

/* Button */
.k-button {
    color: lighten(@hover-text-color, 8%); //#9ca3a6
    border-color: lighten(@hover-text-color, 8%);
    background-color: @normal-background;
}

.k-button:focus,
.k-button.k-state-focused {
    border-color: @accent;
    outline: 0;
}

.k-button:hover,
.k-button.k-state-hover {
    background-color: @hover-background;
}

.k-button:active,
.k-button.k-state-active {
    color: @inversed-text-color;
    background-color: @selected-background;
    border-color: @selected-background;
}

.k-button[disabled],
.k-button.k-state-disabled,
.k-state-disabled .k-button,
.k-state-disabled .k-button:hover,
.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:active,
.k-button.k-state-disabled:active {
    //color: lighten(@hover-text-color, 20%);
    //border-color: lighten(@hover-text-color, 20%);
    //background-color: @background;
}

/* Primary Button */
.k-primary,
.k-overflow-container .k-primary {
    color: @inversed-text-color;
    border-color: @accent;
    background-color: @accent;
}

.k-primary:focus,
.k-primary.k-state-focused {
    border-color: @accent-hover-background;    
}

.k-primary:hover,
.k-primary:active {
    color: @inversed-text-color;    
    background-color: @accent-hover-background;
    border-color: @accent-hover-background;
}

.k-primary.k-state-disabled,
.k-state-disabled .k-primary,
.k-primary.k-state-disabled:hover,
.k-state-disabled .k-primary:hover,
.k-primary.k-state-disabled:hover,
.k-state-disabled .k-primary:active,
.k-primary.k-state-disabled:active {
    color: @selected-text-color;
    border-color: lighten(@accent, 50%);
    background-color: lighten(@accent, 50%);
}