<div class="demo-section k-content">
    @(Html.Kendo().TreeView()
        .Name("treeview")
        .Items(treeview =>
        {
            treeview.Add().Text("My Web Site")
                .SpriteCssClasses("k-icon k-i-folder")
                .Expanded(true)
                .Items(root =>
                {
                    root.Add().Text("images")
                        .Expanded(true)
                        .SpriteCssClasses("k-icon k-i-folder")
                        .Items(images =>
                        {
                            images.Add().Text("logo.png")
                                .SpriteCssClasses("k-icon k-i-image");

                            images.Add().Text("body-back.png")
                                .SpriteCssClasses("k-icon k-i-image");

                            images.Add().Text("my-photo.jpg")
                                .SpriteCssClasses("k-icon k-i-image");
                        });

                    root.Add().Text("resources")
                        .Expanded(true)
                        .SpriteCssClasses("k-icon k-i-folder")
                        .Items(resources =>
                        {
                            resources.Add().Text("pdf")
                                .Expanded(true)
                                .SpriteCssClasses("k-icon k-i-folder")
                                .Items(pdf =>
                                {
                                    pdf.Add().Text("brochure.pdf")
                                        .SpriteCssClasses("k-icon k-i-pdf");

                                    pdf.Add().Text("prices.pdf")
                                        .SpriteCssClasses("k-icon k-i-pdf");
                                });

                            resources.Add().Text("zip")
                                .SpriteCssClasses("k-icon k-i-folder");
                        });

                    root.Add().Text("about.html")
                        .SpriteCssClasses("k-icon k-i-html");

                    root.Add().Text("contacts.html")
                        .SpriteCssClasses("k-icon k-i-html");

                    root.Add().Text("index.html")
                        .SpriteCssClasses("k-icon k-i-html");

                    root.Add().Text("portfolio.html")
                        .SpriteCssClasses("k-icon k-i-html");
                });
        })
    )
</div>