@import "../common/base.less";

@office365-border-width: 1px;
@office365-border-radius: 2px;
@office365-inline-border-radius: @office365-border-radius - 1px;

.km-office365
{
    font: normal 1em "HelveticaNeue Light", "Roboto Light", "Slate Light", "Segoe WP", NokiaPureTextLight, sans-serif;
    font: normal 16px "HelveticaNeue Light", "Roboto Light", "Slate Light", "Segoe WP", NokiaPureTextLight, sans-serif; /* Delete */
}

/* override transform options for performance */
.km-root .km-office365.km-pane,
.km-root .km-office365 .km-view,
.km-root .km-office365 .km-slider,
.km-root .km-office365 .km-switch,
.km-root .km-office365 .km-group-title,
.km-root .km-office365 .km-filter-reset,
.km-root .km-office365 .km-shim .k-animation-container
{
    -webkit-transform: none;
}

.km-office365,
.km-office365 *
{
    .box-sizing(border-box);
    .background-clip(border-box);
}

/* Revert box/clip for Web widgets */
.km-office365 [class^=k-]
{
    .box-sizing(content-box);
}


.km-office365 .km-tabstrip .km-button
{
    background: none;
}

/* PopUp */

.km-office365 .km-popup .k-popup
{
    font-size: 1em !important;
}

.km-office365 .km-popup .k-item,
.km-office365 .km-actionsheet > li > a
{
    text-decoration: none;
    padding: .688em 1em;
    border-radius: 0;
    border-width: 0 0 @office365-border-width;
    border-style: solid;
    .box-sizing(border-box);
}

.km-office365 .km-popup
{
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    .box-sizing(border-box);
}

.km-office365 .km-popup .k-list-container
{
    width: 100% !important;
    height: auto !important;
    padding: 0;
}

.km-office365 .km-actionsheet,
.km-office365 .km-popup .k-list-container
{
    max-height: 80%;
}

.km-office365 .km-actionsheet-wrapper,
.km-office365 .km-popup .k-list-container
{
    bottom: 0;
    border-width: @office365-border-width 0 0;
    border-style: solid;
    border-radius: 0;
    .box-sizing(border-box);
}

.km-office365 .km-shim .k-animation-container
{
    left: 0;
    top: auto;
    bottom: 0;
}

.km-office365 .km-popup-wrapper
{
    padding: 15px;
}

.km-office365 .km-popup.km-pane,
.km-office365 .km-actionsheet-wrapper.km-popup
{
    //border-radius: @office365-border-radius;
}

.km-office365 .km-view-title,
.km-office365 .km-dialog-title {
    font-size: 1.125em;
    line-height: 2.78em;
}

/* Color Template */
@import "template.less";



/* Tablet Styles */

.km-tablet .km-office365.km-horizontal .km-navbar .km-button,
.km-tablet .km-office365.km-horizontal .km-toolbar .km-button
{
    margin-top: .2rem;
    margin-bottom: .2rem;
}

.km-office365 .km-icon:before,
.km-office365 .km-contactadd:before,
.km-office365 .km-rowdelete:before,
.km-office365 .km-rowinsert:before,
.km-office365 .km-detaildisclose:before {
    margin-top: 0;
}