<div id="example">
    <div id="configurator" class="hidden-on-narrow"></div>
    <div id="pivotgrid" class="hidden-on-narrow"></div>
    
    <div class="responsive-message"></div>
    
    <script>
        $(document).ready(function () {
            var pivotgrid = $("#pivotgrid").kendoPivotGrid({
                columnWidth: 120,
                height: 570,
                dataSource: {
                    type: "odata",
                    transport: {
                        read: "//demos.telerik.com/kendo-ui/service/Northwind.svc/Customers"
                    },
                    schema: {
                        cube: {
                            dimensions: {
                                ContactName: { caption: "All Contacts" },
                                CompanyName: { caption: "All Companies" },
                                Country: { caption: "All Countries" },
                                ContactTitle: { caption: "All Titles" }
                            },
                            measures: {
                                "Contacts Count": { field: "CustomerID", aggregate: "count" }
                            }
                        }
                    },
                    columns: [{ name: "Country", expand: true }, { name: "CompanyName" } ],
                    rows: [{ name: "ContactTitle", expand: true }],
                    measures: ["Contacts Count"]
                }
            }).data("kendoPivotGrid");

            $("#configurator").kendoPivotConfigurator({
                dataSource: pivotgrid.dataSource,
                height: 570
            });
        });
    </script>
    <style>
        #pivotgrid {
            width: 70%;
        }

        .hidden-on-narrow {
            display: inline-block;
            vertical-align: top;
        }
    </style>
</div>
