        <div id="example">
            <div id="treelist"></div>

            <script>
                var dataSource = new kendo.data.TreeListDataSource({
                    data: [
                      { id: 1, Name: "Daryl Sweeney", Position: "CEO", Phone: "(555) 924-9726", parentId: null },
                      { id: 2, Name: "Guy Wooten", Position: "Chief Technical Officer", Phone: "(438) 738-4935", parentId: 1 },
                      { id: 32, Name: "Buffy Weber", Position: "VP, Engineering", Phone: "(699) 838-6121", parentId: 2 },
                      { id: 3, Name: "Priscilla Frank", Position: "Chief Product Officer", Phone: "(217) 280-5300", parentId: 1 },
                      { id: 4, Name: "Ursula Holmes", Position: "EVP, Product Strategy", Phone: "(370) 983-8796", parentId: 3 },
                      { id: 24, Name: "Melvin Carrillo", Position: "Director, Developer Relations", Phone: "(344) 496-9555", parentId: 3 }
                    ],

                    schema: {
                        model: {
                            id: "id",
                            expanded: true
                        }
                    }
                });

                $("#treelist")
                    .kendoTreeList({
                        dataSource: dataSource,
                        height: 540,
                        columns: [
                            { field: "Position" },
                            { field: "Name" },
                            { field: "Phone" }
                        ]
                    })
                    .kendoDraggable({
                        cursorOffset: { left: 10, top: 10 },
                        filter: "tr",
                        autoScroll: true,
                        hint: function(row) {
                            console.log(row);
                            return "foo";
                        },
                        dragstart: function(e) {
                            console.log(e);
                        },
                        dragend: function(e) {
                            console.log(e);
                        }
                    });
            </script>
        </div>

