<div id="example" ng-app="KendoDemos">
    <div ng-controller="MyCtrl" class="demo-section k-content">
        <div>
            <h4>QR code</h4>
            <span kendo-qrcode
                  k-error-correction="'M'"
                  ng-model="qrcode"
                  style="height: 250px;" ></span>
        </div>
    </div>
    <div class="box wide">
        <h4>Set value</h4>
        <input ng-model="qrcode">
    </div>
<script>
    angular.module("KendoDemos", [ "kendo.directives" ])
        .controller("MyCtrl", function($scope){
            $scope.qrcode = "http://www.example.com";
        })
</script>
</div>
