<div id="example" ng-app="KendoDemos">
    <div ng-controller="MyCtrl" class="demo-section k-header">
        <div>
            <h4>QR code</h4>
            <span kendo-qrcode
                  k-error-correction="'M'"
                  ng-model="qrcode"
                  style="height: 250px;" ></span>
        </div>
        <h4 style="padding-top: 2em;">Set value</h4>
        <input ng-model="qrcode" class="k-textbox" style="width: 100%;" />
    </div>
<script>
    angular.module("KendoDemos", [ "kendo.directives" ])
        .controller("MyCtrl", function($scope){
            $scope.qrcode = "http://www.example.com";
        })
</script>
</div>
