<div id="example">
    <div class="box wide">
        <form action="@Url.Action("SaveAsPDF", "Spreadsheet")" method="POST">
            <input type="hidden" id="download-data" name="data" />
            <div class="box-col">
                <select id="paper-size" name="options.PaperSize">
                    <option value="A4" selected="selected">A4</option>
                    <option value="Letter">Letter</option>
                </select>
            </div>
            <div class="box-col">
                <input type="submit" class="k-button" value="Generate PDF..." />
            </div>
        </form>
    </div>
    <div class="demo-section k-content">
        <div id="spreadsheet"></div>
    </div>
    <script>
        $(function() {
            $("#spreadsheet").kendoSpreadsheet();
            var spreadsheet = $("#spreadsheet").data("kendoSpreadsheet");

            $(".download").click(function () {
                $("#download-data").val(JSON.stringify(spreadsheet.toJSON()));
                $("#download-data").val($("paper-size").val());
            });
        });
    </script>

</div>
