<div id="example">
    <div id="spreadsheet" style="width: 100%;"></div>
    <script>
        $(function() {
            $("#spreadsheet").kendoSpreadsheet({
                columns: 5,
                rows: 9,
                sheetsbar: false,
                excel: {
                    // Required to enable Excel Export in some browsers
                    proxyURL: "//demos.telerik.com/kendo-ui/service/export"
                },
                sheets: [
                    {
                        name: "ContactsForm",
                        mergedCells: [
                            "A1:E1"
                        ],
                        rows: [
                            {
                                height: 70,
                                cells: [
                                    {
                                        index: 0, value: "CONTACTS FORM", fontSize: 32, background: "rgb(96,181,255)", enable: false,
                                        textAlign: "center", color: "white"
                                    }
                                ]
                            },
                            {
                                height: 25,
                                cells: [
                                    {
                                        value: "Full Name", background: "rgb(167,214,255)", textAlign: "center", color: "rgb(0,62,117)", enable: false
                                    },
                                    {
                                        value: "Email", background: "rgb(167,214,255)", textAlign: "center", color: "rgb(0,62,117)", enable: false
                                    },
                                    {
                                        value: "Date of Birth", background: "rgb(167,214,255)", textAlign: "center", color: "rgb(0,62,117)", enable: false
                                    },
                                    {
                                        value: "Phone", background: "rgb(167,214,255)", textAlign: "center", color: "rgb(0,62,117)", enable: false
                                    },
                                    {
                                        value: "Confirmed", background: "rgb(167,214,255)", textAlign: "center", color: "rgb(0,62,117)", enable: false
                                    }
                                ]
                            },
                            {
                                height: 25,
                                cells: [
                                    {
                                        value: "Peter Pan",
                                        validation: {
                                            dataType: "custom",
                                            from: "AND(LEN(A3)>3, LEN(A3)200)",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Full Name validation error",
                                            messageTemplate: "The full name should be longer than 3 letters and shorter than 200."
                                        }

                                    },
                                    {
                                        value: "PeterPan@Gmail.com",
                                        validation: {
                                            dataType: "custom",
                                            from: "AND(NOT(ISERROR(FIND(\"@@\", B3))), NOT(ISERROR(FIND(\".\", B3))), ISERROR(FIND(\" \", J1)), LEN(B3)>5)",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Email validation error",
                                            messageTemplate: "The value entered is not an valid email address."
                                        }
                                    },
                                    {
                                        value: 35431,
                                        format: "m/d/yyyy",
                                        validation: {
                                            dataType: "date",
                                            comparerType: "between",
                                            from: "DATEVALUE(\"1/1/1900\")",
                                            to: "DATEVALUE(\"1/1/1998\")",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Birth Date validaiton error",
                                            messageTemplate: "Birth Date should be between 1899 and 1998 year."
                                        }
                                    },
                                    {
                                        value: 359887699774,
                                        validation: {
                                            dataType: "custom",
                                            from: "AND(ISNUMBER(D3),LEN(D3)<14)",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Phone validation error",
                                            messageTemplate: "The value entered is not an valid phone number. Please enter numeric value with less than 14 digits."
                                        }
                                    },
                                    {
                                        value: true,
                                        validation: {
                                            dataType: "list",
                                            from: "ListValues!A1:B1",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Invalid value",
                                            messageTemplate: "Valid values are 'true' and 'false'."
                                        }
                                    }
                                ]
                            },
                            {
                                height: 25,
                                cells: [
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "custom",
                                            from: "AND(LEN(A4)>3, LEN(A4)200)",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Full Name validation error",
                                            messageTemplate: "The full name should be longer than 3 letters and shorter than 200."
                                        }

                                    },
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "custom",
                                            from: "AND(NOT(ISERROR(FIND(\"@@\", B4))), NOT(ISERROR(FIND(\".\", B4))), ISERROR(FIND(\" \", J1)), LEN(B4)>5)",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Email validation error",
                                            messageTemplate: "The value entered is not an valid email address."
                                        }
                                    },
                                    {
                                        value: "",
                                        format: "m/d/yyyy",
                                        validation: {
                                            dataType: "date",
                                            comparerType: "between",
                                            from: "DATEVALUE(\"1/1/1900\")",
                                            to: "DATEVALUE(\"1/1/1998\")",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Birth Date validaiton error",
                                            messageTemplate: "Birth Date should be between 1899 and 1998 year."
                                        }
                                    },
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "custom",
                                            from: "AND(ISNUMBER(D4),LEN(D4)<14)",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Phone validation error",
                                            messageTemplate: "The value entered is not an valid phone number. Please enter numeric value with less than 14 digits."
                                        }
                                    },
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "list",
                                            comparerType: "greaterThan",
                                            from: "ListValues!A1:B1",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Invalid value",
                                            messageTemplate: "Valid values are 'true' and 'false'."
                                        }
                                    }
                                ]
                            },
                            {
                                height: 25,
                                cells: [
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "custom",
                                            from: "AND(LEN(A4)>3, LEN(A4)200)",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Full Name validation error",
                                            messageTemplate: "The full name should be longer than 3 letters and shorter than 200."
                                        }

                                    },
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "custom",
                                            from: "AND(NOT(ISERROR(FIND(\"@@\", B4))), NOT(ISERROR(FIND(\".\", B4))), ISERROR(FIND(\" \", J1)), LEN(B4)>5)",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Email validation error",
                                            messageTemplate: "The value entered is not an valid email address."
                                        }
                                    },
                                    {
                                        value: "",
                                        format: "m/d/yyyy",
                                        validation: {
                                            dataType: "date",
                                            comparerType: "between",
                                            from: "DATEVALUE(\"1/1/1900\")",
                                            to: "DATEVALUE(\"1/1/1998\")",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Birth Date validaiton error",
                                            messageTemplate: "Birth Date should be between 1899 and 1998 year."
                                        }
                                    },
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "custom",
                                            from: "AND(ISNUMBER(D4),LEN(D4)<14)",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Phone validation error",
                                            messageTemplate: "The value entered is not an valid phone number. Please enter numeric value with less than 14 digits."
                                        }
                                    },
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "list",
                                            comparerType: "greaterThan",
                                            from: "ListValues!A1:B1",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Invalid value",
                                            messageTemplate: "Valid values are 'true' and 'false'."
                                        }
                                    }
                                ]
                            },
                            {
                                height: 25,
                                cells: [
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "custom",
                                            from: "AND(LEN(A4)>3, LEN(A4)200)",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Full Name validation error",
                                            messageTemplate: "The full name should be longer than 3 letters and shorter than 200."
                                        }

                                    },
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "custom",
                                            from: "AND(NOT(ISERROR(FIND(\"@@\", B4))), NOT(ISERROR(FIND(\".\", B4))), ISERROR(FIND(\" \", J1)), LEN(B4)>5)",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Email validation error",
                                            messageTemplate: "The value entered is not an valid email address."
                                        }
                                    },
                                    {
                                        value: "",
                                        format: "m/d/yyyy",
                                        validation: {
                                            dataType: "date",
                                            comparerType: "between",
                                            from: "DATEVALUE(\"1/1/1900\")",
                                            to: "DATEVALUE(\"1/1/1998\")",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Birth Date validaiton error",
                                            messageTemplate: "Birth Date should be between 1899 and 1998 year."
                                        }
                                    },
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "custom",
                                            from: "AND(ISNUMBER(D4),LEN(D4)<14)",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Phone validation error",
                                            messageTemplate: "The value entered is not an valid phone number. Please enter numeric value with less than 14 digits."
                                        }
                                    },
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "list",
                                            comparerType: "greaterThan",
                                            from: "ListValues!A1:B1",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Invalid value",
                                            messageTemplate: "Valid values are 'true' and 'false'."
                                        }
                                    }
                                ]
                            },
                            {
                                height: 25,
                                cells: [
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "custom",
                                            from: "AND(LEN(A4)>3, LEN(A4)200)",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Full Name validation error",
                                            messageTemplate: "The full name should be longer than 3 letters and shorter than 200."
                                        }

                                    },
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "custom",
                                            from: "AND(NOT(ISERROR(FIND(\"@@\", B4))), NOT(ISERROR(FIND(\".\", B4))), ISERROR(FIND(\" \", J1)), LEN(B4)>5)",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Email validation error",
                                            messageTemplate: "The value entered is not an valid email address."
                                        }
                                    },
                                    {
                                        value: "",
                                        format: "m/d/yyyy",
                                        validation: {
                                            dataType: "date",
                                            comparerType: "between",
                                            from: "DATEVALUE(\"1/1/1900\")",
                                            to: "DATEVALUE(\"1/1/1998\")",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Birth Date validaiton error",
                                            messageTemplate: "Birth Date should be between 1899 and 1998 year."
                                        }
                                    },
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "custom",
                                            from: "AND(ISNUMBER(D4),LEN(D4)<14)",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Phone validation error",
                                            messageTemplate: "The value entered is not an valid phone number. Please enter numeric value with less than 14 digits."
                                        }
                                    },
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "list",
                                            comparerType: "greaterThan",
                                            from: "ListValues!A1:B1",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Invalid value",
                                            messageTemplate: "Valid values are 'true' and 'false'."
                                        }
                                    }
                                ]
                            },
                            {
                                height: 25,
                                cells: [
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "custom",
                                            from: "AND(LEN(A4)>3, LEN(A4)200)",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Full Name validation error",
                                            messageTemplate: "The full name should be longer than 3 letters and shorter than 200."
                                        }

                                    },
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "custom",
                                            from: "AND(NOT(ISERROR(FIND(\"@@\", B4))), NOT(ISERROR(FIND(\".\", B4))), ISERROR(FIND(\" \", J1)), LEN(B4)>5)",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Email validation error",
                                            messageTemplate: "The value entered is not an valid email address."
                                        }
                                    },
                                    {
                                        value: "",
                                        format: "m/d/yyyy",
                                        validation: {
                                            dataType: "date",
                                            comparerType: "between",
                                            from: "DATEVALUE(\"1/1/1900\")",
                                            to: "DATEVALUE(\"1/1/1998\")",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Birth Date validaiton error",
                                            messageTemplate: "Birth Date should be between 1899 and 1998 year."
                                        }
                                    },
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "custom",
                                            from: "AND(ISNUMBER(D4),LEN(D4)<14)",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Phone validation error",
                                            messageTemplate: "The value entered is not an valid phone number. Please enter numeric value with less than 14 digits."
                                        }
                                    },
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "list",
                                            comparerType: "greaterThan",
                                            from: "ListValues!A1:B1",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Invalid value",
                                            messageTemplate: "Valid values are 'true' and 'false'."
                                        }
                                    }
                                ]
                            },
                            {
                                height: 25,
                                cells: [
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "custom",
                                            from: "AND(LEN(A4)>3, LEN(A4)200)",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Full Name validation error",
                                            messageTemplate: "The full name should be longer than 3 letters and shorter than 200."
                                        }

                                    },
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "custom",
                                            from: "AND(NOT(ISERROR(FIND(\"@@\", B4))), NOT(ISERROR(FIND(\".\", B4))), ISERROR(FIND(\" \", J1)), LEN(B4)>5)",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Email validation error",
                                            messageTemplate: "The value entered is not an valid email address."
                                        }
                                    },
                                    {
                                        value: "",
                                        format: "m/d/yyyy",
                                        validation: {
                                            dataType: "date",
                                            comparerType: "between",
                                            from: "DATEVALUE(\"1/1/1900\")",
                                            to: "DATEVALUE(\"1/1/1998\")",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Birth Date validaiton error",
                                            messageTemplate: "Birth Date should be between 1899 and 1998 year."
                                        }
                                    },
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "custom",
                                            from: "AND(ISNUMBER(D4),LEN(D4)<14)",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Phone validation error",
                                            messageTemplate: "The value entered is not an valid phone number. Please enter numeric value with less than 14 digits."
                                        }
                                    },
                                    {
                                        value: "",
                                        validation: {
                                            dataType: "list",
                                            comparerType: "greaterThan",
                                            from: "ListValues!A1:B1",
                                            allowNulls: true,
                                            type: "reject",
                                            titleTemplate: "Invalid value",
                                            messageTemplate: "Valid values are 'true' and 'false'."
                                        }
                                    }
                                ]
                            }
                        ],
                        columns: [
                            {
                                width: 100
                            },
                            {
                                width: 215
                            },
                            {
                                width: 115
                            },
                            {
                                width: 115
                            },
                            {
                                width: 115
                            }
                        ]
                    },
                    {
                        name: "ListValues",
                        rows: [ //A1:B1
                            {
                                cells: [
                                    {
                                        value: true
                                    },
                                    {
                                        value: false
                                    }
                                ]
                            }
                        ]
                    }
                ]
            });
        });
    </script>
</div>