@addTagHelper *, Kendo.Mvc

<div class="demo-section k-content">
    <p>
        <kendo-numerictextbox name="currency"
                              format="c"
                              min="0"
                              enable="true"
                              max="100"
                              value="30">
        </kendo-numerictextbox>
    </p>
    <br />
    <p>
        <kendo-numerictextbox name="percentage"
                              format="p0"
                              min="0"
                              max="0.9"
                              step="0.01"
                              value="0.05">
        </kendo-numerictextbox>
    </p>
    <br />
    <p>
        <kendo-numerictextbox name="custom"
                              format="#.00 kg"
                              value="2">
        </kendo-numerictextbox>
    </p>
    <br />
    <p>
        <kendo-numerictextbox name="numeric"
                              placeholder="Enter numeric value">
        </kendo-numerictextbox>
    </p>
</div>