@{
    ViewBag.ShowCodeStrip = false;
}
<div id="example">    
    <div class="box demo-description wide" style="background-color: #ffda3f; color: #000000">
        <h4>DEPRECATION NOTICE</h4>
        <p>This example demonstrated an early prototype that has been since superseded by a dedicated <a href="http://www.telerik.com/kendo-angular-ui/">Kendo UI for Angular 2</a> suite</p>
        <p>The sample code has been removed to avoid confusion.</p>
    </div>
</div>
