<div kendo-mobile-application ng-app="kendoDemo">
     <kendo-mobile-view ng-controller="MyCtrl">
        <div class="head">&nbsp;</div>

        <kendo-mobile-collapsible k-options="collapsibleOptions">
            <h2>Collapsible Header</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id lorem auctor, luctus urna non, viverra magna. Nulla facilisi. Curabitur accumsan auctor mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec luctus massa non ante luctus volutpat.</p>
        </kendo-mobile-collapsible>
    </kendo-mobile-view>
</div>

<script>
    angular.module("kendoDemo", [ "kendo.directives" ]).controller("MyCtrl", function($scope) {

      $scope.collapsibleOptions = {
          animation: false
      };
   });
</script>
