<div data-role="view" data-title="Collapsible Events">
    <div data-role="collapsible" data-collapse="onCollapse" data-expand="onExpand">
        <h2>Collapsible header</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis rhoncus ipsum. Praesent gravida hendrerit orci, ut auctor nulla rutrum ac. Phasellus hendrerit eros eu lacinia faucibus. Aliquam in enim urna. Proin luctus, mauris vitae tristique iaculis, nulla justo laoreet dui, eget bibendum nisl sapien nec est. Quisque gravida nisl sit amet sapien lobortis pretium. Cras in lectus tempor, efficitur enim sed, ultricies dolor.</p>
    </div>

    <div class="console" style="min-width: 200px;"></div>
</div>

<script>
    function onCollapse() {
        kendoConsole.log("collapse");
    }

    function onExpand() {
        kendoConsole.log("expand");
    }
</script>
