<div data-role="view">
    <div data-role="collapsible" data-collapse="onCollapse" data-expand="onExpand">
        <h2>Collapsible header</h3>
        <p>Collapsible content</p>
    </div>

    <div class="console" style="min-width: 200px;"></div>
</div>

<script>
    function onCollapse() {
        kendoConsole.log("collapse");
    }

    function onExpand() {
        kendoConsole.log("expand");
    }
</script>
