<div data-role="view">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title">Collapsible</span>
        </div>
    </header>
    <p>Collapsible widget with large header</p>
    <div data-role="collapsible">
        <h2>Large header</h3>
        <p>Content</p>
    </div>

    <p>Collapsible widget with small header</p>
    <div data-role="collapsible">
        <h4>Large header</h4>
        <p>Content</p>
    </div>

    <p>Initially expanded Collapsible panel</p>
    <div data-role="collapsible" data-collapsed="false">
        <h2>Large header</h2>
        <p>Content</p>
    </div>
</div>
