<div data-role="view">
    <header data-role="header">
        <div data-role="navbar">
            <span data-role="view-title">Collapsible</span>
        </div>
    </header>
    <div data-role="collapsible">
        <h3>Header 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id lorem auctor, luctus urna non, viverra magna. Nulla facilisi. Curabitur accumsan auctor mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec luctus massa non ante luctus volutpat.</p>
    </div>

    <div data-role="collapsible">
        <h3>Header 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id lorem auctor, luctus urna non, viverra magna. Nulla facilisi. Curabitur accumsan auctor mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec luctus massa non ante luctus volutpat.</p>
    </div>

    <div data-role="collapsible" data-collapsed="false">
        <h3>Initially expanded</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id lorem auctor, luctus urna non, viverra magna. Nulla facilisi. Curabitur accumsan auctor mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec luctus massa non ante luctus volutpat.</p>
    </div>

    <div data-role="collapsible" data-icon-position="right">
        <h3>Icon position = right</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id lorem auctor, luctus urna non, viverra magna. Nulla facilisi. Curabitur accumsan auctor mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec luctus massa non ante luctus volutpat.</p>
    </div>
</div>
