@font-face {
    font-family: "Kendo UI Examples";
    src: url("../shared/styles/kendoui.woff") format("woff"),
         url("../shared/styles/kendoui.ttf") format("truetype");
}

/*Roboto Font used in Material Theme preview*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,300,300italic);

body,h1,h2,h3,h4,p,ul,li,a,button
{
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #37474f;
}

body,
html {
   min-height: 100%;
}

img {
    border: 0;
}

a {
    text-decoration:none;
}

/* Header */
.responsive-header {
    margin: 0;
    position: relative;
    min-height: 80px;
    color: #fff;
    background-color: #05172a;
/*    background-image: -webkit-linear-gradient(right, #174770 0%, #092646 100%);
    background-image: -moz-linear-gradient(right, #174770 0%, #092646 100%);
    background-image: -ms-linear-gradient(right, #174770 0%, #092646 100%);
    background-image: -o-linear-gradient(right, #174770 0%, #092646 100%);
    background-image: linear-gradient(to left, #174770 0%, #092646 100%);*/
}

.responsive-header h1 {
    float: left;
    font-size: 24px;
    font-weight: normal;
}

.responsive-header h1 a {
    color: #fff;
    display: inline-block;
    padding: 28px 29px;
    line-height: 24px;   
}

#responsive-nav {
    font-size: 18px;
    line-height: 80px;
    float: right;
}

#responsive-nav > li {
    float: left;
    border-bottom: 3px solid transparent;
}

#responsive-nav > li.selected {
    float: left;
    border-color: #00b5f1;
}

#responsive-nav > li > a {
    padding: 30px;
    color: #fff;
}

#responsive-nav > li > a:hover {
    color: #00b5f1;
}

.nav-buttons {
    float: right;
    padding: 0 30px;
}

.btn {
    color: #fff;
    background-color: #1e2f40;
    border: 1px solid #374555;
    background-clip: padding-box;
    position: relative;
    display: inline-block;
    padding: 0.667em 2.000em;
    line-height: 0.933em;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    border-radius: 2px;
    -webkit-appearance: none;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin: 23px 0 0;
}

.btn:hover {
   background-color: #374555;
}

.btn-primary {
    background-color: #ee5315;
    border-color: #ee5315;
    margin-left: 10px;
}

.btn-primary:hover
{
    background-color: #c2410e;
    border-color: #c2410e;
    cursor: pointer;
}

.responsive-section {
    position: relative;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.responsive-bootstrap-section {
    background: #f3f5f7;
}

.responsive-section h2 {
    font: 36px "Roboto Slab", Arial, Helvetica, sans-serif;  
}

.responsive-section h3 {
    font: 24px "Roboto Slab", Arial, Helvetica, sans-serif;
    display: inline-block;
    border-bottom: 1px solid rgba(255,255,255,.6);
    height: 28px;
}


.responsive-section > p {
    font: 400 16px/1.25 Arial,Helvetica,sans-serif;
}

.responsive-section > h2,
.responsive-section > p {
    margin-bottom: 40px;
}

.responsive-section > p,
#responsive-QR,
.responsive-widgets-container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

#responsive-QR > div {
    display: inline-block;
}

/* Index page */

.responsive-hero {
    background-color: #174770;
    background-image: -webkit-linear-gradient(bottom, #014f80 0%, #092646 100%);
    background-image: -moz-linear-gradient(bottom, #014f80 0%, #092646 100%);
    background-image: -ms-linear-gradient(bottom, #014f80 0%, #092646 100%);
    background-image: -o-linear-gradient(bottom, #014f80 0%, #092646 100%);
    background-image: linear-gradient(to top, #014f80 0%, #092646 100%);
    color: #fff;
    padding-top: 140px;
    padding-bottom: 140px;
}

.responsive-hero h2 {
    font-size: 72px;
    margin-bottom: 20px;
}

.responsive-hero p {
    font-size: 22px;
    margin-bottom: 120px;
}

.responsive-btn {
    display: inline-block;
    color: #fff;
    padding: .773em 1.091em;
    text-align: center;
    font-size: 22px;
    line-height: 22px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    border-radius: 2px;
}

.responsive-documentation-btn {
    background-color: #015991;
}

.responsive-documentation-btn:hover {
    background-color: #013a5e;
}

.kendo-with-bootstrap-btn {
    background-color: #e84b3c;
}

.kendo-with-bootstrap-btn:hover {
    background-color: #ec6052;
}

.responsive-widget {
   display: block;
   float: left;
   width: 25%;
   position: relative;
   min-height: 1px;
   color: #fff;
}

.responsive-widget:hover {
   color: #00b5f1;
}
.responsive-widget:hover h3 {
   border-color: #00b5f1;
}


.responsive-img {
    display: block;
    margin: 0 auto 30px;
}

.responsive-widget-wrapper {
    position: relative;
    display: block;
    padding: 80px 0;
    overflow: hidden;
}

.responsive-widget-wrapper #scheduler {
   position: relative; 
}

.responsive-horizontal-ruler {
    position:absolute; 
    left: 0;
    width: 100%;
    height: 10px;
    background-repeat: repeat-x;
}

.top-ruler {
    top: 23px;
    background-image: url('images/horizontal-ruler-top.png');
}

.bottom-ruler {
    bottom: 0;
    background-image: url('images/horizontal-ruler-bottom.png');
}

.responsive-vertical-ruler {
    position: absolute;
    top: 0;    
    bottom: 10px;
    width: 22px; 
}

.res-320 {
    left: 298px;
    background-image: url('images/vertical-ruler-320.png');
}

.res-480 {
    left: 458px;
    background-image: url('images/vertical-ruler-480.png');
}

.res-768 {
    left: 746px;
    background-image: url('images/vertical-ruler-768.png');
}

.res-1024 {
    width: 25px;
    left: 999px;
    background-image: url('images/vertical-ruler-1024.png');
}

/* Footer */
#responsive-footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.k-rpanel-toggle {
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: none;
}

.k-rpanel-toggle:hover {
    cursor: pointer;
}

.k-rpanel-toggle .k-icon {
    background-image: none;
    font-family: "Kendo UI Examples";
    color: #fff;
    opacity: 1;
}

.k-rpanel-toggle .k-icon:after{
    content: "\e105";
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    margin-top: 8px;
}

.activeHamburger {   
    background-color: #fff;
}

.activeHamburger .k-icon {
     color: #10375c;
}

@media (max-width: 1024px) {
    .responsive-section > p,
    #responsive-QR,
    .responsive-widgets-container {
        max-width: 80%;
    }

    .responsive-header {
        min-height: 48px;
    }

    .responsive-header h1 a {
        padding: 12px 17px;
    }

    #responsive-nav {
        font-size: 14px;
        line-height: 48px;
    }

    #responsive-nav > li > a {
        padding: 17px;
    }
    
    .responsive-hero {
    padding-top: 100px;
    padding-bottom: 100px;
    }
    
    .responsive-hero h2 {
        font-size: 60px;
        margin-bottom: 20px;
    }
    
    .responsive-hero p {
        font-size: 22px;
        margin-bottom: 60px;
    }
}

@media (max-width: 768px) {
    #responsive-nav {
        width: 100%;
        line-height: 46px;
        z-index: 10;
        box-shadow: 0 0 9px #000000; 
        text-align: left;
    }

    .responsive-header {
        text-align: center;
    }

    .responsive-header h1 {
        display: inline-block;
        float: none;
    }

    #responsive-nav li {
        display: block;
        float: none;
        width: 100%;
        background: #fff;
    }

    #responsive-nav li:hover,
    #responsive-nav li:active {
        background: #f0f0f0;
        border-top-color: #f0f0f0;
        border-bottom-color: #f6f6f6;
    }

    #responsive-nav > li {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }

     #responsive-nav > li:first-child {
        border-top: 10px solid #fff;
        
    }

    #responsive-nav > li:last-child {
        border-bottom: 10px solid #fff;
    }

    #responsive-nav > li > a {
        display: block;
        padding: 0 30px;
        color: #272727;
    }

     #responsive-nav .selected {        
        background-color: #0C2D4F;
        background-image: -webkit-linear-gradient(right, #092646 0%, #174770 100%);
        background-image: -moz-linear-gradient(right, #092646 0%, #174770 100%);
        background-image: -ms-linear-gradient(right, #092646 0%, #174770 100%);
        background-image: -o-linear-gradient(right, #092646 0%, #174770 100%);
        background-image: linear-gradient(to left, #092646 0%, #174770 100%);
    }

    #responsive-nav .selected a {
        color: #fff;
    }

     #responsive-nav .selected:hover a {
        color: #272727;
    }

    .k-rpanel-toggle {
        position: absolute;
        top: 0;
        right: 0;
    }

    .responsive-widgets-container {
        max-width: 100%;
    }

    /* Index page */
    .responsive-widget {
        display: block;
        width: 100%;
        float: none;
        border-bottom: 1px solid rgba(255,255,255,.05);
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .responsive-widget:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }

    .hide-small {
        display: none;
    }
    
    .responsive-hero {
    padding-top: 40px;
    padding-bottom: 40px;
    }
    
    .responsive-hero h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }
    
    .responsive-hero p {
        font-size: 18px;
        margin-bottom: 0;
    }

    /* Menu */
    #menu .k-item {
        display: block;
        clear: both;
        float: none;
        width: auto;
    }

}

@media (max-width: 387px) {
    .responsive-btn {
       font-size: 16px; 
    }
}


@media (max-width: 361px) {
    .responsive-header h1 {
        float: left;
    }

    .responsive-header h1 a {
        padding-left: 16px;
        padding-right: 0;
    }
}

@media (max-width: 315px) {
    .responsive-header h1 a {
        padding-left: 1px;
    }
}

/* Clear floats */
.responsive-header:after,
#responsive-nav:after,
.responsive-widgets-container:after {
    content: "";
    display: block;
    clear: both;
}