/* h2, h3 font */
@font-face {
  font-family: "FaktSlabPro-Medium";
  src: url("../shared/styles/fonts/FaktSlabPro-Medium.eot");
  src: url("../shared/styles/fonts/FaktSlabPro-Medium.eot?#iefix") format("embedded-opentype"), url("../shared/styles/fonts/FaktSlabPro-Medium.woff") format("woff"), url("../shared/styles/fonts/FaktSlabPro-Medium.ttf") format("truetype"), url("../shared/styles/fonts/FaktSlabPro-Medium.svg#FaktSlabPro-Medium") format("svg");
}

/* .responsive-section p */
@font-face {
  font-family: "MetricWeb-Semibold";
  src: url("../shared/styles/fonts/MetricWeb-Semibold.eot");
  src: url("../shared/styles/fonts/MetricWeb-Semibold.eot?#iefix") format("embedded-opentype"), url("../shared/styles/fonts/MetricWeb-Semibold.woff") format("woff"), url("../shared/styles/fonts/MetricWeb-Semibold.ttf") format("truetype"), url("../shared/styles/fonts/MetricWeb-Semibold.svg#MetricWeb-Semibold") format("svg");
}

body,h1,h2,h3,h4,p,ul,li,a,button
{
    margin:0;
    padding:0;
    list-style:none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

body,
html {
   min-height: 100%;
}

img {
    border:0;
}

a {
    text-decoration:none;
}

/* Header */
.responsive-header {
    margin: 0;
    position: relative;
    min-height: 80px;
    color: #fff;
    background-color: #0C2D4F;
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(right, #174770 0%, #092646 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(right, #174770 0%, #092646 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(right, #174770 0%, #092646 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #174770), color-stop(1, #092646));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(right, #174770 0%, #092646 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to left, #174770 0%, #092646 100%);
}

.responsive-header h1 {
    float: left;
    font-size: 24px;
    font-weight: normal;
    padding: 28px 32px;
    line-height: 24px;   
}

#responsive-nav {
    font-size: 18px;
    line-height: 80px;
    float: right;   
}

#responsive-nav > li {
    float: left;    
}

#responsive-nav > li > a {
    padding: 30px;
    color: #fff;
}

.responsive-section {
    position: relative;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    border: 1px solid red;
}

.responsive-section h2 {
    font: 100 24px "FaktSlabPro-Medium", Arial, Helvetica, sans-serif;  
}

.responsive-section > p {
    font: 100 16px "MetricWeb-Semibold", Arial, Helvetica, sans-serif;
}

.responsive-section > h2,
.responsive-section > p {
    margin-bottom: 40px;
}

.responsive-section > p,
#responsive-QR,
.responsive-widgets-container {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#responsive-QR > div {
    display: inline-block;
}

/* Index page */
.responsive-btn {
    color: #fff;    
    padding: 17px 24px;
    text-align: center;   
    font-size: 22px;
    line-height: 22px;   
}

.responsive-documentation {
    background-color: #015991;    
}

.kendo-with-bootstrap {
    background-color: #e84d3e;
}

.responsive-widgets-container {
    background: yellow;
}

.responsive-widget {
   float: left;
   width: 33.33333333%;
   position: relative;
   min-height: 1px;

   /*display: inline-block;*/
}

.responsive-widget-wrapper {
    position: relative;
    background: orange !important;
    display:block;
    /*min-height: 516px;*/
    padding: 80px 40px;
    overflow: hidden;
}

.responsive-horizontal-ruler {
    position:absolute; 
    left: 0;
    width: 100%;   
    height: 10px;
    background-image: url('responsive_ruler.png');
    background-repeat: repeat-x;
}

.top-ruler {
    top: 23px;
}

.bottom-ruler {
    bottom: 0;
}

.responsive-vertical-ruler {
    position: absolute;
    top: 0;    
    bottom: 0;
    width: 22px;
    /*height: 699px;*/    
}

.res-320 {
    left: 302px;
    background-image: url('vertical-ruler-320.png');
}

.res-768 {
    left: 746px;
    background-image: url('vertical-ruler-768.png');
}

.res-1024 {
    width: 25px;
    left: 999px;
    background-image: url('vertical-ruler-1024.png');
}

/* Footer */
#responsive-footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.k-rpanel-toggle {
    
}

@media (max-width: 770px) {
    #responsive-nav {
        background: red;
        /*position: absolute;*/
        top: 48px;
        float: none;
        width: 100%;
        height: auto;
        line-height: 48px;
        min-height: 193px;
        z-index: 10;
        box-shadow: 0 0 9px yellow; 
    }

    #responsive-nav li {
        display: block;
        float: none;
        width: 100%;
    }

    #responsive-nav > li > a {
        padding: 0 30px;
    }

    .responsive-header {
        min-height: 48px;
    }

    .responsive-header h1 {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .k-rpanel-toggle {
        position: relative;
        float: right;
    }
}
/* Clear floats */
.responsive-header:after,
#responsive-nav:after,
.responsive-widgets-container:after {
    content: "";
    display: block;
    clear: both;
}