/* h2, h3 font */
@font-face {
  font-family: "FaktSlabPro-Medium";
  src: url("../shared/styles/fonts/FaktSlabPro-Medium.eot");
  src: url("../shared/styles/fonts/FaktSlabPro-Medium.eot?#iefix") format("embedded-opentype"), url("../shared/styles/fonts/FaktSlabPro-Medium.woff") format("woff"), url("../shared/styles/fonts/FaktSlabPro-Medium.ttf") format("truetype"), url("../shared/styles/fonts/FaktSlabPro-Medium.svg#FaktSlabPro-Medium") format("svg");
}

/* .responsive-section p */
/*@font-face {
  font-family: "MetricWeb-Semibold";
  src: url("../shared/styles/fonts/MetricWeb-Semibold.eot");
  src: url("../shared/styles/fonts/MetricWeb-Semibold.eot?#iefix") format("embedded-opentype"), url("../shared/styles/fonts/MetricWeb-Semibold.woff") format("woff"), url("../shared/styles/fonts/MetricWeb-Semibold.ttf") format("truetype"), url("../shared/styles/fonts/MetricWeb-Semibold.svg#MetricWeb-Semibold") format("svg");
}*/

@font-face {
    font-family: "Kendo UI Examples";
    src: url("../shared/styles/kendoui.woff") format("woff"),
         url("../shared/styles/kendoui.ttf") format("truetype");
}

/*Roboto Font used in Material Theme preview*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,300,300italic);

body,h1,h2,h3,h4,p,ul,li,a,button
{
    margin:0;
    padding:0;
    list-style:none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #37474f;
}

body,
html {
   min-height: 100%;
}

img {
    border:0;
}

a {
    text-decoration:none;
}

/* Header */
.responsive-header {
    margin: 0;
    position: relative;
    min-height: 80px;
    color: #fff;
    background-color: #0C2D4F;
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(right, #174770 0%, #092646 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(right, #174770 0%, #092646 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(right, #174770 0%, #092646 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #174770), color-stop(1, #092646));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(right, #174770 0%, #092646 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to left, #174770 0%, #092646 100%);
}

.responsive-header h1 {
    float: left;
    font-size: 24px;
    font-weight: normal;
    padding: 28px 32px;
    line-height: 24px;   
}

#responsive-nav {
    font-size: 18px;
    line-height: 80px;
    float: right;   
}

#responsive-nav > li {
    float: left;
}

#responsive-nav > li > a {
    padding: 30px;
    color: #fff;
}

.responsive-section {
    position: relative;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.responsive-index .responsive-documentation-section,
.responsive-bootstrap-section {
    background: #f3f5f7;
}

.responsive-index .responsive-bootstrap-section {
    background: #fff;
}

.responsive-section h2 {
    font: 36px "FaktSlabPro-Medium", Arial, Helvetica, sans-serif;  
}

.responsive-section h3 {
    font: 24px "FaktSlabPro-Medium", Arial, Helvetica, sans-serif;  
}


.responsive-section > p {
    /*font: 100 16px "MetricWeb-Semibold", Arial, Helvetica, sans-serif;*/
    font: 400 16px/1.25 Arial,Helvetica,sans-serif;
}

.responsive-section > h2,
.responsive-section > p {
    margin-bottom: 40px;
}

.responsive-section > p,
#responsive-QR,
.responsive-widgets-container {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#responsive-QR > div {
    display: inline-block;
}

/* Index page */
.responsive-btn {
    color: #fff;    
    padding: .773em 1.091em;
    text-align: center;   
    font-size: 22px;
    line-height: 22px;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    border-radius: 2px;
}

.responsive-documentation-btn {
    background-color: #015991;    
}

.responsive-documentation-btn:hover {
    background-color: #013a5e;
}

.kendo-with-bootstrap-btn {
    background-color: #e84b3c;
}

.kendo-with-bootstrap-btn:hover {
    background-color: #ec6052;
}

.responsive-widget {
   float: left;
   width: 25%;
   position: relative;
   min-height: 1px;
}

.responsive-widget-wrapper {
    position: relative;
    display:block;
    padding: 80px 40px;
    overflow: hidden;
}

.responsive-widget-wrapper #scheduler {
   position: relative; 
}

.responsive-horizontal-ruler {
    position:absolute; 
    left: 0;
    width: 100%;   
    height: 10px;
    background-image: url('images/responsive_ruler.png');
    background-repeat: repeat-x;
}

.top-ruler {
    top: 23px;
}

.bottom-ruler {
    bottom: 0;
}

.responsive-vertical-ruler {
    position: absolute;
    top: 0;    
    bottom: 0;
    width: 22px; 
}

.res-320 {
    left: 298px;
    background-image: url('images/vertical-ruler-320.png');
}

.res-480 {
    left: 458px;
    background-image: url('images/vertical-ruler-480.png');
}

.res-768 {
    left: 746px;
    background-image: url('images/vertical-ruler-768.png');
}

.res-1024 {
    width: 25px;
    left: 999px;
    background-image: url('images/vertical-ruler-1024.png');
}

/* Footer */
#responsive-footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.k-rpanel-toggle {
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: none;
}

.k-rpanel-toggle:hover {
    cursor: pointer;
}

.k-rpanel-toggle .k-icon {
    background-image: none;
    font-family: "Kendo UI Examples";
    color: #fff;
    opacity: 1;
}

.k-rpanel-toggle .k-icon:after{
    content: "\e105";
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    margin-top: 8px;
}

.activeHamburger {   
    background-color: #fff;
}

.activeHamburger .k-icon {
     color: #10375c;
}

@media (max-width: 1024px) {
    .responsive-header {
        min-height: 48px;
    }

    .responsive-header h1 {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    #responsive-nav {
        font-size: 14px;
        line-height: 48px;
    }

    #responsive-nav > li > a {
        padding: 17px;
    }
}

@media (max-width: 768px) {
    #responsive-nav {    
        width: 100%;
        line-height: 46px;
        z-index: 10;
        box-shadow: 0 0 9px #000000; 
        text-align: left;
    }

    .responsive-header {
        text-align: center;
    }

    .responsive-header h1 {
        display: inline-block;
        float: none;
    }

    #responsive-nav li {
        display: block;
        float: none;
        width: 100%;
        background: #fff;
    }

    #responsive-nav li:hover,
    #responsive-nav li:active {
        background: #f0f0f0;
        border-top-color: #f0f0f0;
        border-bottom-color: #f6f6f6;
    }

     #responsive-nav > li {    
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }

    #responsive-nav > li > a {
        display: block;
        padding: 0 30px;
        color: #272727;
    }

    .k-rpanel-toggle {
        position: relative;
        float: right;
    }

    .responsive-section > p,
    #responsive-QR,
    .responsive-widgets-container {
        max-width: 100%;
    }

    /* Index page */
    .responsive-widget {
        display: block;
        width: 100%;
        float: none;
        border-bottom: 1px solid #f0f0f0;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 387px) {
    .responsive-btn {
       font-size: 16px; 
    }
}


@media (max-width: 361px) {
    .responsive-header h1 {
        float: left;
        padding-left: 16px;
        padding-right: 0;
    }
}

@media (max-width: 315px) {
    .responsive-header h1 {
        padding-left: 1px;
    }
}

/* Clear floats */
.responsive-header:after,
#responsive-nav:after,
.responsive-widgets-container:after {
    content: "";
    display: block;
    clear: both;
}