@addTagHelper *, Kendo.Mvc
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model OrderViewModel

<form asp-controller="datepicker" asp-action="tag-helper" method="post" role="form">
    <div class="demo-section k-content">
        <kendo-dateinput name="dateinput" style='width: 100%;'></kendo-dateinput>
    </div>
</form>