<div data-role="view" data-title="Button Appearance" class="buttonAppearance" data-use-native-scrolling="true">
    <ul data-role="listview" data-type="group" data-style="inset">
        <li>
            Types
            <ul>
                <li>
                    <i></i> <a data-role="button" data-animated="true" class="km-justified">Regular</a>
                </li>
                <li>
                    <i></i> <a data-role="button" data-animated="true" class="km-primary km-justified">Primary</a>
                </li>
            </ul>
        </li>
        <li>
            Sizes
            <ul>
                <li>
                    <i></i> <a data-role="button" data-animated="true" class="km-small km-justified">Small</a>
                </li>
                <li>
                    <i></i> <a data-role="button" data-animated="true" class="km-justified">Normal</a>
                </li>
                <li>
                    <i></i> <a data-role="button" data-animated="true" class="km-large km-justified">Large</a>
                </li>
            </ul>
        </li>
        <li>
            Button icons (check help for more)
            <ul>
                <li>
                    <i></i> <a data-role="button" data-animated="true" data-icon="featured" class="km-justified">Featured</a>
                </li>
                <li>
                    <i></i> <a data-role="button" data-animated="true" data-icon="toprated" class="km-justified">Top Rated</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
