 <div class="demo-section k-content k-rtl">
     <h4>Set Value</h4>
    @(Html.Kendo().NumericTextBox<decimal>()
          .Name("numerictextbox")
          .HtmlAttributes(new { style = "width: 100%" })
    )
</div>
