<div id="example" ng-app="KendoDemos">
    <div ng-controller="MyCtrl">
        <div class="demo-section k-content">
            <button class="k-button" ng-show="!dialogVisible" ng-click="dialog.open()">Open Dialog</button>
        </div>
        <div kendo-dialog="dialog" k-title="'Software Update'" k-on-open="dialogVisible = true"
             k-on-close="dialogVisible = false" k-width="300" k-height="150"
             k-actions="actions" k-modal="false">
            <p>A new version of <strong>Kendo UI</strong> is available. Would you like to download and install it now?<p>
        </div>
    </div>
</div>

<script>
    angular.module("KendoDemos", ["kendo.directives"])
        .controller("MyCtrl", function($scope) {
            $scope.actions = [
                { text: 'Skip this version' },
                { text: 'Remind me later' },
                { text: 'Install update', primary: true }
            ];
        })
</script>
