<div id="example">
    <button id="alertBtn" class="k-button">kendo.alert</button>
    <button id="confirmBtn" class="k-button">kendo.confirm</button>
    <button id="promptBtn" class="k-button">kendo.prompt</button>

    <script>
        $("#alertBtn").on("click", function () {
            kendo.alert("Important message.");
        });

        $("#confirmBtn").on("click", function () {
            kendo.confirm("Are you sure?").then(function () {
                kendo.alert("Will do.");
            }, function () {
                kendo.alert("Cancel it is.");
            });
        });

        $("#promptBtn").on("click", function () {
            kendo.prompt("Enter value", "any value").then(function (e) {
                kendo.alert(kendo.format("Value is {0}", e.data));
            }, function () {
                kendo.alert("Cancel input");
            })
        });
    </script>
</div>
