
        <div id="example">
            <div class="demo-section k-header">
                <h4>Set alarm time</h4>
                <input id="timepicker" value="10:00 AM" style="width: 100%;" />
                
                <h4 style="padding-top: 2em;">Alarm descriprion</h4>
                <input id="descr" class="k-textbox" type="text" value="Wake up" style="width: 100%" />
            </div>
            <script>
                $(document).ready(function() {
                    // create TimePicker from input HTML element
                    $("#timepicker").kendoTimePicker();
                });
            </script>

        </div>
