 <div class="demo-section k-content">
   <h4>Search for shipping name</h4>
    @(Html.Kendo().DropDownList()
          .Name("orders")
          .DataTextField("ShipName")
          .DataValueField("OrderID")
          .MinLength(3)
          .HtmlAttributes(new { style = "width:100%" })
          .Template("#= OrderID # | For: #= ShipName #, #= ShipCountry #")
          .Height(290)
          .Filter(FilterType.Contains)
          .DataSource(source => {
              source
                  .Ajax()
                  .PageSize(80)
                  .Read("Virtualization_Read", "DropDownList");
          })
          .Virtual(v => v.ItemHeight(26).ValueMapper("valueMapper"))
    )
</div>
<script>
    function valueMapper(options) {
        $.ajax({
            url: "@Url.Action("Orders_ValueMapper", "DropDownList")",
            data: convertValues(options.value),
            success: function (data) {
                options.success(data);
            }
        });
    }

    function convertValues(value) {
        var data = {};

        value = $.isArray(value) ? value : [value];

        for (var idx = 0; idx < value.length; idx++) {
            data["values[" + idx + "]"] = value[idx];
        }

        return data;
    }
</script>