@{
    Layout = "ResponsiveLayout.cshtml";
}

<div class="responsive-section">
    <h2>Responsive Kendo UI Chart</h2>
    <p>This demo shows the basic responsive features of Kendo UI Chart.<br />        Resize the browser window and see how the Chart responds to screen size changes.</p>    <p>See this page on a mobile device too:</p>
    <div id="responsive-QR"></div>

    <script type="text/javascript">
        $("#responsive-QR").kendoQRCode({
            value: window.location.href,
            size: 110,
            color: "#333333",
            border: {
                color: "#666666",
                width: 1
            }
        });
    </script>
</div>

<div class="responsive-widget-wrapper">
    <div class="responsive-horizontal-ruler top-ruler"></div>

    <div class="responsive-vertical-ruler res-320"></div>

    <div class="responsive-vertical-ruler res-768"></div>

    <div class="responsive-vertical-ruler res-1024"></div>

<div id="chart"></div>
<script>
$("#chart").kendoChart({
    theme: "metro",
    chartArea: {
        background: "transparent",
    },
    title: {
        text: "Stock prices",
        visible: false
    },
    legend: {
        visible: false,
    },
    seriesDefaults: {
        type: "area", // try: "line" | "area" | "bar"
        style: "smooth",
        area: {
            line: {
                style: "smooth"
            }
        },
        spacing: 0,
        gap: .4,
        spacing: .16,
    },
    series: [{
        opacity: 1,
        name: "Stock A",
        color: "#d0e39b",
        overlay: null,
        //data: stocks[2]
        data: [1, 2]
    }, {
        opacity: 1,
        name: "Stock B",
        color: "#90c57b",
        //data: stocks[1]
        data: [1, 2]
    }, {
        opacity: 1,
        name: "Stock C",
        color: "#67b49d",
        //data: stocks[0],
        data: [1, 2]
    }],
    valueAxis: {
        labels: {
            format: "${0}"
        },
        line: {
            visible: false
        },
    },
    categoryAxis: {
        //categories: categoryList,
        categories: ["1", "2"],
        majorGridLines: {
            visible: false
        }
    },
    tooltip: {
        visible: true,
        format: "{0:N0}"
    },
    transitions: false
});
</script>

    <div class="responsive-horizontal-ruler bottom-ruler"></div>
</div>