@{
    Layout = "ResponsiveLayout.cshtml";
}

<div class="responsive-section">
    <h2>Responsive Kendo UI</h2>
    <p>This demo showcases the basic responsive features of Kendo UI widgets. <br />
Select one of the widgets below to see how it handles different form factors.</p>
    <div class="responsive-widgets-container">
           <div class="responsive-widget">
               <img src="@Url.Content("~/content/responsive/test.png")" alt="Responsive Grid widget"/>
               <p>Grid</p>
           </div> 
           <div class="responsive-widget">
               <img src="@Url.Content("~/content/responsive/test.png")" alt="Responsive Scheduler widget"/>
               <p>Scheduler</p></div> 
           <div class="responsive-widget">
               <img src="@Url.Content("~/content/responsive/test.png")" alt="Responsive Chart widget"/>
               <p>Chart</p>
           </div> 

    </div>

</div>

<div class="responsive-section">
    <h2>How it works</h2>
    <p>The concept of responsive design suggests that the layout of the project needs to adapt to the media that renders it. Media queries are one of the cornerstones of Responsive Web Design. By adding some filter criteria around CSS definitions, we can control under which conditions rules are applied to Kendo UI widgets.</p>
    <a class="responsive-btn responsive-documentation" href="http://docs.telerik.com/kendo-ui/using-kendo-in-responsive-web-pages#kendo-ui-and-media-queries">Read Documentation</a>
</div>

<div class="responsive-section">
    <h2>Using Twitter Bootstrap?</h2>
    <a class="responsive-btn kendo-with-bootstrap">See Kendo UI ♥ Bootstrap Demo</a>
</div>