<div class="responsive-horizontal-ruler top-ruler"></div>
<div class="responsive-vertical-ruler res-320"></div>
<div class="responsive-vertical-ruler res-480"></div>
<div class="responsive-vertical-ruler res-768"></div>
<div class="responsive-vertical-ruler res-1024"></div>