@font-face {
	font-family: 'TelerikWebUI';
	src: url('TelerikWebUI.eot');
	src: url('TelerikWebUI.eot') format('embedded-opentype'),
			url('TelerikWebUI.woff') format('woff'),
			url('TelerikWebUI.ttf') format('truetype');
}

.k-mediaplayer {
	position: relative;


}

.k-mediaplayer-titlebar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: linear-gradient( rgba(0,0,0, 0.7), rgba(0, 0, 0, 0) );
	color: white;
	padding: 12px;
	//width: 100%;
//	z-index: 200;
}

.k-mediaplayer-toolbar {
	position: absolute;
	bottom: 0;
	left: -1px;
	right: -1px;
	padding: 0px;

	.k-button {
		&,
		&:hover,
		&:active {
			border-color: transparent;
			background: none;
		}
	}

	// seekbar
	.k-mediaplayer-seekbar {
		position: absolute;
		top: -18px;
		left: 0;
		right: 0;
		opacity: 0.7;
		margin: 0;
		width: auto;

		.k-slider-track {
			border-radius: 0;
		}
	}

	.k-mediaplayer-quality {
		width: auto;
		background: none transparent;

		.k-dropdown-wrap {
			border: 0 none;
			box-shadow: none;
		}

		.k-input {
			display: none;
		}

		.k-dropdown-wrap {
			padding: 0;
			background: none transparent;
		}

		.k-select {
			position: relative;
		}
	}

	.right {
		float: right;
	}
}


	.k-i-play,
	.k-i-pause,
	.k-i-HD,
	.k-i-volume-mute,
	.k-i-volume-low,
	.k-i-volume-high,
	.k-i-fullscreen-enter,
	.k-i-fullscreen-exit,
	.k-i-playlist-open,
	.k-i-playlist-close {
		&:before {
			font-family: "TelerikWebUI";
		}
	}

	.k-i-play:before {
		content: "\e0e5";
	}
		
	.k-i-pause:before {
		content: "\e0e3";
	}

	.k-i-HD:before {content: "\e11e";}
	.k-i-volume-low:before {content: "\e042";}
	.k-i-volume-high:before {content: "\e042";}
	.k-i-volume-mute:before {content: "\e040";}
	.k-i-fullscreen-enter:before {content: "\e11c";}
	.k-i-fullscreen-exit:before {content: "\e11d";}
//	.k-i-share:before {content: "\e0df";}
	.k-i-playlist-open:before,
	.k-i-playlist-close:before { content: "\e11f";}

	/*.rmpSubtitlesIcon,
	.rmpSubtitlesActiveIcon {
        &:before {
		    content: "\e150";
        }
	}*/

	.rmpPlaylistPrevIcon:before { // ??? 
		content: "\e011";
	}

	.rmpPlaylistNextIcon:before {
		content: "\e012";
	}

	/*.rmpCloseBannerIcon:before {
		content: "\e038";
	}*/

	    /*Temporary workaround for z-index*/
        
        .k-mediaplayer-titlebar,
        .k-mediaplayer-toolbar {
            z-index: 2;
        }
        /*Temporary workaround for z-index and overlay size*/
        
        .k-mediaplayer-overlay {
            z-index: 1;
            width: 100%;
            height: 100%;
            position: absolute;
        }        



//playlist
.k-mediaplayer-playlist {
	ul, li {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	.k-item {
		padding: 14px 15px;
		border-bottom-style: solid;
		border-bottom-width: 1px;

		&:last-child {
			border-bottom-width: 0;
		}
	}

	span {
		display: block;
		overflow: hidden;
		text-decoration: none;
		cursor: pointer;

		img {
			display: block;
			width: 100px;
			height: 56px;
			border: 0 none;
			object-fit: cover;
			float: left;
		}
	}

	h4 {
		display: block;
		overflow: hidden;
		font-weight: normal;
		text-align: left;
		padding-left: 10px;
		margin: 0;
	}
}
