@{
    var ProductNames = new Dictionary<string, string> {
        { "kendo-ui", "Kendo UI" },
        { "php-ui", "UI for PHP" },
        { "aspnet-mvc", "UI for ASP.NET MVC" },
        { "jsp-ui", "UI for JSP" },
        { "themebuilder", "ThemeBuilder" },
        { "mobile-themebuilder", "Mobile ThemeBuilder" }
    };
}

<div id="header">

@*    <div id="webinar-banner">
        Kendo UI turns four! Sign up for the celebratory webinar
        <a href="http://www.telerik.com/campaigns/kendo-ui/september-2015-release">Happy Birthday to UI</a>
        to see the freshly released bits in action.
        <span class="close"></span>
    </div>

    <script>

        (function ($) {
            var banner = $("#webinar-banner");
            var bannerLink = banner.find("a");
            var trackingAttribute = "data-gtm-event";
            var uniqueLocalStorageBannerKey = "KendoUIQ32015ReleaseWebinarBannerDisabled";
            var showWebinarBanner = true;
            var suites = {
                // "suite": "trackingAttribute"
                // comment out what's not necessary
                "kendo-ui": "yellow-strip, KendoUIQ32015Release, kendo-demos-page",
                "aspnet-mvc": "yellow-strip, KendoUIQ32015Release, mvc-demos-page",
                "php-ui": "yellow-strip, KendoUIQ32015Release, php-demos-page",
                "jsp-ui": "yellow-strip, KendoUIQ32015Release, jsp-demos-page"
            };

            for (var j in suites) {
                if (location.href.indexOf(j) > 0) {
                    try {
                        showWebinarBanner = "1" !== localStorage.getItem(uniqueLocalStorageBannerKey);
                    } catch (e) {
                    }
                    if (showWebinarBanner) {
                        bannerLink.attr(trackingAttribute, suites[j]);
                        banner.show().find(".close").click(function () {
                            try {
                                localStorage.setItem(uniqueLocalStorageBannerKey, 1);
                                banner.animate({ marginTop: "-40px", height: 0 }, function () {
                                    banner.hide();
                                    $(window).resize();
                                });
                                return true;
                            } catch (e) {
                            }
                        });
                    }
                    break;
                }
            }
        })($);

    </script>*@

    <div id="logo-bar">
        <a href="@Url.Content("~")">
            <img alt="@(ProductNames[ViewBag.Product]) logo" class="@Url.Content(ViewBag.Product) logo" src="@Url.Content("~/content/shared/images/logos/" + ViewBag.Product + ".png")"/>
            <span>Demos and Sample Applications</span>
        </a>
    </div>
    <div class="nav-buttons">
        <a id="about" href="http://www.telerik.com/@ViewBag.Product/" class="btn">About</a>
        <a id="pricing" href="http://www.telerik.com/purchase/@ViewBag.Product" class="btn">Pricing</a>
        <a id="get-kendoui" href="http://www.telerik.com/download/@ViewBag.Product" class="btn btn-primary">Try now</a>
    </div>
</div>
