<div class="themechooser" data-rel="themechooser" data-role="details">
    <span class="tc-activator">Change Theme</span>
    <div class="tc-theme-list">
        <div class="tc-column">
            <h4>SASS Themes (beta)</h4>
            <ul class="themes-grid"
                data-cols="2"
                data-role="themechooser"
                data-template="theme-item-template"
                data-bind="source: sassThemes, value: selectedSassTheme"></ul>

            <h4>LESS Themes</h4>
            <ul class="themes-grid"
                data-role="themechooser"
                data-template="theme-item-template"
                data-bind="source: themes, value: selectedTheme"></ul>
        </div>
        <div class="tc-column tb-column">
            <h4>SASS Theme Builder</h4>
            <div class="tc-name">Create new or customize SASS themes</div>
            <a href="http://themebuilder.telerik.com/@ViewBag.Product/" class="tb-link">
                <span class="k-icon k-i-paint"></span>
                Launch Theme Builder
            </a>
        </div>
    </div>
</div>

<script id="theme-item-template" type="text/x-kendo-template">
    <li class="tc-item">
        # for (var i = 0; i < colors.length; i++) { #
            <span class="tc-color" style="background-color: #= colors[i] #"></span>
        # } #
        <span class="tc-name">#: name #</span>
    </li>
</script>

<script id="size-item-template" type="text/x-kendo-template">
    <li class="tc-item">
        <span class="tc-name">#: name #</span>
        # if ('relativity' in data) { #
            <span class="tc-relativity">
                (#: relativity #)
            </span>
        # } #
    </li>
</script>
