@pane-border-color: darken(@base, 20%);
@cell-border-color: darken(@base, 10%);

.k-spreadsheet-top-corner,
.k-spreadsheet-row-header td,
.k-spreadsheet-column-header td {
    background-color: @base;
    background-image: none;
}

.k-spreadsheet-top-corner {
    border-color: @cell-border-color;

    &:after {
        border-color: transparent @cell-border-color @cell-border-color transparent;
    }
}

.k-spreadsheet-pane {
    border-color: @pane-border-color;

    & td {
        border-color: @cell-border-color;
    }

    .k-spreadsheet-merged-cell {
        background-color: @background;
    }
}

.k-selection-full {
    .k-spreadsheet-pane & {
        border-color: lighten(@selected-background, 30%);
        background-color: lighten(@selected-background, 30%);
    }

    @border-style: 2px solid @selected-background;

    .k-spreadsheet-column-header & {
        border-bottom: @border-style;
    }

    .k-spreadsheet-row-header & {
        border-right: @border-style;
    }
}

.k-spreadsheet-pane .k-selection-partial {
    background-color: lighten(@selected-background, 40%);
    border-color: lighten(@selected-background, 40%);
}

.k-spreadsheet-selection {
    background-color: fadeout(@selected-background, 80%);
    border-color: @selected-background;
}


.k-spreadsheet-cell-editor {
    box-shadow: inset 0 0 0 2px @selected-background;
}

.k-spreadsheet-active-cell {
    box-shadow: inset 0 0 0 1px @selected-background;
    border-color: @selected-background;

    td {
        background-color: @background;
        border-color: @selected-background;
        box-shadow: inset 1px 1px 0 1px @selected-background, inset 0 0 0 1px @selected-background;
    }

    &.k-right td {
        box-shadow: inset 1px 1px 0 1px @selected-background, inset -2px 0 0 1px @selected-background;
    }

    &.k-bottom td {
        box-shadow: inset 1px 1px 0 1px @selected-background, inset 0 -2px 0 1px @selected-background;
    }

    &.k-right.k-bottom td {
        box-shadow: inset 1px 1px 0 1px @selected-background, inset -2px -2px 0 1px @selected-background;
    }
}
.k-spreadsheet-active-cell.k-single {
    background-color: #fff;
}

.k-spreadsheet {
    > .k-spreadsheet-formula-bar  {
        background-color: @background;
        border-color: @base @base @cell-border-color;

        &:before {
            border-color: @cell-border-color;
        }

        &:after {
            border-color: @base;
        }
    }

    .k-spreadsheet-formula-input {
        background-color: @background;
        color: @normal-text-color;
    }
}

.k-spreadsheet-format-cells .k-spreadsheet-preview {
    border-color: @widget-border-color;
}

.k-spreadsheet-filter {
    border-radius: @border-radius;
    background-color: @background;

    box-shadow: inset 0 0 0 1px @cell-border-color;

    &.k-state-active {
        color: @selected-text-color;
        background-color: @selected-background;
    }

    &:hover {
        color: @hover-text-color;
        background: @hover-background;
        border-color: darken(@hover-background, 8%);
    }
}

.k-action-window .k-action-buttons {
    border-color: @widget-border-color;
}

.k-spreadsheet-sample {
    color: lighten(@normal-text-color, 30%);

    .k-state-selected & {
        color: inherit;
    }
}

.k-spreadsheet-window .k-list-wrapper,
.k-spreadsheet-window .k-list {
    border-color: @widget-border-color;
    border-radius: @border-radius;
}

.k-resize-handle,
.k-resize-hint-handle,
.k-resize-hint-marker {
    background-color: @selected-background;
}

.k-resize-hint-vertical .k-resize-hint-handle,
.k-resize-hint-vertical .k-resize-hint-marker {
    background-color: @selected-background;
}

.k-spreadsheet-toolbar {
    &.k-toolbar .k-button-group .k-button {
        border-radius: @border-radius;
    }

    > .k-widget,
    > .k-button,
    > .k-button-group {
        border-radius: @border-radius;
        border-left-color: @widget-border-color;
    }

    .k-overflow-anchor {
        border-radius: 0;
    }
}

.k-spreadsheet-popup .k-separator {
    background-color: @widget-border-color;
}

.k-spreadsheet-filter-menu {
    .k-details {
        border-color: @widget-border-color;
    }

    .k-details-content .k-space-right {
        background-color: @background;
    }

    .k-spreadsheet-value-treeview-wrapper {
        background-color: @background;
        border-color: @widget-border-color;
        border-radius: @border-radius 0 0 @border-radius;
    }
}

.k-syntax-ref { color: #ff8822; }
.k-syntax-num { color: #0099ff; }
.k-syntax-func { font-weight: bold; }
.k-syntax-str { color: #38b714; }
.k-syntax-error { color: red; }
.k-syntax-bool { color: #a9169c; }
.k-syntax-startexp { font-weight: bold; }
.k-syntax-paren-match { background-color: #caf200; }

.k-series-a {
    border-color: red;
    background-color: rgba(217, 88, 88, 0.25);
}

.k-series-b {
    border-color: yellow;
    background-color: rgba(212, 232, 63, 0.25);
}

.k-series-c {
    border-color: #E6AE45;
    background-color: rgba(230, 174, 69, 0.25);
}

.k-series-d {
    border-color: #45E648;
    background-color: rgba(69, 230, 72, 0.25);
}

