@pane-border-color: darken(@base, 20%);
@cell-border-color: darken(@base, 10%);

.k-spreadsheet-top-corner,
.k-spreadsheet-row-header td,
.k-spreadsheet-column-header td {
    background-color: @base;
    background-image: none;
}

.k-spreadsheet-top-corner:after {
    border-color: transparent @cell-border-color @cell-border-color transparent;
}

.k-spreadsheet-pane {
    border-color: @pane-border-color;

    & td {
        border-color: @cell-border-color;
    }

    .k-spreadsheet-merged-cell {
        background-color: @background;
    }
}

.k-selection-full {
    .k-spreadsheet-pane & {
        border-color: lighten(@selected-background, 30%);
        background-color: lighten(@selected-background, 30%);
    }

    @border-style: 2px solid @selected-background;

    .k-spreadsheet-column-header & {
        border-bottom: @border-style;
    }

    .k-spreadsheet-row-header & {
        border-right: @border-style;
    }
}

.k-spreadsheet-pane .k-selection-partial {
    background-color: lighten(@selected-background, 40%);
    border-color: lighten(@selected-background, 40%);
}

.k-spreadsheet-selection {
    background-color: fadeout(@selected-background, 80%);
    border-color: @selected-background;
}

.k-spreadsheet-active-cell {
    box-shadow: inset 0 0 0 1px @selected-background;
    border-color: @selected-background;

    & td {
        background-color: @background;
        border-color: @selected-background;
        box-shadow: inset 1px 1px 0 1px @selected-background, inset 0 0 0 1px @selected-background;
    }

    &.k-right td {
        box-shadow: inset 1px 1px 0 1px @selected-background, inset -2px 0 0 1px @selected-background;
    }

    &.k-bottom td {
        box-shadow: inset 1px 1px 0 1px @selected-background, inset 0 -2px 0 1px @selected-background;
    }

    &.k-right.k-bottom td {
        box-shadow: inset 1px 1px 0 1px @selected-background, inset -2px -2px 0 1px @selected-background;
    }
}
.k-spreadsheet-active-cell.k-single {
    background-color: #fff;
}

.k-spreadsheet {
    > .k-spreadsheet-formula-bar  {
        background-color: @background;
        border-color: @base @base @cell-border-color;

        &:before {
            border-color: @cell-border-color;
        }

        &:after {
            border-color: @base;
        }
    }

    .k-spreadsheet-formula-input {
        background-color: @background;
        color: @normal-text-color;
    }
}

.k-action-window .k-action-buttons {
    border-color: @widget-border-color;
}

.k-simple-tabs {
    background-color: transparent;
    background-image: none;

    &:focus {
        box-shadow: none !important;
    }
}

.k-spreadsheet-window .k-list {
    border-color: @widget-border-color;
}
