@import "../common/base.less";

@office365-border-width: 1px;
@office365-border-radius: 2px;
@office365-inline-border-radius: @office365-border-radius - 1px;

.km-nova
{
    font: normal 15px "HelveticaNeue Light", "Roboto Light", "Slate Light", "Segoe WP", sans-serif;
    line-height: 1.2;
}
/* Color Template */
@import "template.less";