@accent: #ff4350;
@base: #f8fafb; // ListView background
@background: #fff;

@border-radius: 4px;

@normal-background: #fff;
@normal-text-color: #32364c; //Dark text color
@normal-gradient: none;

@hover-background: #f8fafb; //Normal button background
@hover-text-color: #888e90; //Hover button color
@hover-gradient: none;

@selected-background: #f5f6f6; // Button pressed 
@selected-text-color: #888e90;
@selected-gradient: none;


@accentSecond: #00acc1;

// Button 
.km-nova .km-button {
    color: @hover-text-color; 
    background: @background;
    border-color: @hover-text-color;
}

.km-nova .km-button.km-state-active {
    background: @selected-background;
}

// Primary Button
.km-nova .km-primary {
    color: @background;
    background: @accent;
    border-color: @accent;
}

.km-nova .km-primary.km-state-active {
    background: hsv(hsvHue(@accent), hsvSaturation(@accent), hsvValue(@accent) - 10); 
    border-color: hsv(hsvHue(@accent), hsvSaturation(@accent), hsvValue(@accent) - 10); 
}

// ButtonGroup
.km-nova .km-buttongroup .km-state-active {
    color: @background;
    background-color: darken(@selected-background, 33%);
}

.km-nova .km-buttongroup.km-primary .km-button {
    color: @accent;
    border-color: @accent;
}

.km-nova .km-buttongroup.km-primary .km-state-active {
    color: @background;
    background: @accent;
} 


// Link button => km-link-button
.km-nova .km-link-button {
    color: @accentSecond;
}