    <div id="example">
        <div class="demo-section k-header">
            <p>Resize the page to see the ResponsivePanel in action. It collapses the demos' sidebar on device or browser of width less than 1200px.</p>
            <p style="margin: 1em auto;">Read more about ResponsivePanel in Kendo UI Docs:</p>
            <a href="http://docs.telerik.com/kendo-ui/api/javascript/ui/responsivepanel" class="k-button k-primary" title="Kendo UI ResponsivePanel widget">ResponsivePanel API</a>
        </div>
    </div>
