<div id="example">

    <div class="demo-section k-content">
        <h4>Number rounding</h4>
        <input id="round_numeric" style="width: 100%;" value="12.55" />
        <span class="info-text">
            (fraction is just truncated after the 2nd digit)
        </span>
    </div>

    <div class="demo-section k-content">
        <h4>Restrict decimals</h4>
        <input id="restrict_numeric" style="width: 100%;" value="12.5" />
        <span class="info-text">
            (limit fraction length up to 2 digits)
        </span>
    </div>

    <script>
        $(document).ready(function() {
            $("#round_numeric").kendoNumericTextBox({
              round: false
            });

            $("#restrict_numeric").kendoNumericTextBox({
              restrictDecimals: true
            });
        });
    </script>
</div>

<style>
    .info-text {
        color: #999;
        opacity: .7;
        font-style: italic;
        padding-left: .3em;
    }
</style>
