<div id="example" data-use-native-scrolling="true">

    <div class="demo-section k-content">
        <ul id="select-period">
            <li>
                Month
            </li>
            <li>
                Quarter
            </li>
            <li>
                Year
            </li>
        </ul>
    </div>

    <div class="box">
        <h4>Console log</h4>
        <div class="console"></div>
    </div>

    <style scoped>
        .km-widget.km-buttongroup {
            margin: 0 auto;
        }
    </style>
</div>

<script>
    $(function() {
        $("#select-period").kendoMobileButtonGroup({
            select: function(e) {
                kendoConsole.log("selected index:" + e.index);
            },
            index: 0
        });
    });
</script>
