//@import "../common/switch.less";
@import "base.less";

/* Generic content */
/* Thumbnail */
.km-nova .km-thumbnail {
    border-radius: 50%;
    width: 3.35rem;
    height: 3.35rem;
    border-width: 1px;
    border-style: solid;
    float: left;
    margin-right: 1.07rem;
}