
        <div id="example">

            <div class="demo-section k-header">
                <h4>Find a Customer</h4>
                <input id="customers" style="width: 100%;" />
                <div class="demo-hint">Hint: type "an"</div>
            </div>

            <script>
                $(document).ready(function() {
                    $("#customers").kendoAutoComplete({
                        dataTextField: "ContactName",
                        height: 400,
                        dataSource: {
                            type: "odata",
                            transport: {
                                read: "http://demos.telerik.com/kendo-ui/service/Northwind.svc/Customers"
                            },
                            group: { field: "Country" }
                        }
                    });
                });
            </script>

        </div>
