<div id="example">
    <div class="demo-section k-content">
        <h4>Enter a date</h4>
        <input id="dateinput" title="please enter date" style="width: 100%" />
    </div>
    <script>
        $(document).ready(function () {
            $("#dateinput").kendoDateInput();
        });
    </script>
</div>
