<div class="demo-section k-content">
    <h4>Upload PDF</h4>
    @(Html.Kendo().Upload()
        .Name("files")
        .Async(a => a
            .Save("Save", "Upload")
            .Remove("Remove", "Upload")
            .SaveField("files")
        )
        .Validation(validation => validation.AllowedExtensions(new string[] { ".pdf" }))
    )
    <div class="demo-hint">You can only upload <strong>PDF</strong> files.</div>

    <h4 style="margin-top: 2em;">Upload Image</h4>
    @(Html.Kendo().Upload()
        .Name("files-jpg")
        .Async(a => a
            .Save("Save", "Upload")
            .Remove("Remove", "Upload")
            .SaveField("files")
        )
        .Validation(validation => validation.AllowedExtensions(new string[] { ".gif", ".jpg", ".png" }))
    )
    <div class="demo-hint">You can only upload <strong>GIF</strong>, <strong>JPG</strong>, <strong>PNG</strong> files.</div>
</div>

<div class="demo-section k-content">
    <h4>Upload Documents</h4>
    @(Html.Kendo().Upload()
        .Name("docs")
        .Async(a => a
            .Save("Save", "Upload")
            .Remove("Remove", "Upload")
            .SaveField("files")
        )
        .Validation(validation => validation.MaxFileSize(4194304))
    )
    <div class="demo-hint">Maximum allowed file size is <strong>4MB</strong>.</div>
</div>