<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/kendo/css/web/kendo.common.min.css" />
    <link rel="stylesheet" href="~/lib/kendo/css/web/kendo.default.min.css" />
    <link rel="stylesheet" href="~/lib/kendo/css/dataviz/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="~/lib/kendo/css/dataviz/kendo.dataviz.default.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/js/jquery.js"></script>
    <script src="~/lib/kendo/js/kendo.all.min.js"></script>
	<script src="~/lib/kendo/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>

    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
