@using Kendo.Mvc.Extensions;
@using Microsoft.AspNet.Hosting;
@using IOPath = System.IO.Path;
@using IOFile = System.IO.File;

@{
	var hosting = ViewContext.GetService<IHostingEnvironment>();

	var viewPath = IOPath.Combine(hosting.WebRootPath, ".." + ViewData["ViewPath"].ToString());
	var viewSource = IOFile.ReadAllText(viewPath);

	var routeData = ViewContext.RouteData.Values;
	var controllerName = routeData["controller"];
	var viewName = routeData["action"];

	var controllerPath = IOPath.Combine(hosting.WebRootPath, "../Controllers/" + controllerName + "/" + viewName + "Controller.cs");

	var controllerSource = "";
	if (IOFile.Exists(controllerPath))
	{
		controllerSource = IOFile.ReadAllText(controllerPath);
	}	
}

<div class="source">
    <a href="#" class="offline-button view selected">View</a>
    <a href="#" class="offline-button controller">Controller</a>
    <div class="code">
        <pre class="prettyprint view">@viewSource</pre>
        <pre class="prettyprint controller">@controllerSource</pre>
    </div>
</div>
<script>
    $(function() {
        prettyPrint();

        $(".source a").click(function(e) {
            var showView = $(this).is(".view");

            $(".source .code")
                .find(".view").toggle(showView).end()
                .find(".controller").toggle(!showView);

            $(".source a").toggleClass("selected");

            e.preventDefault();
        });
    });
</script>