<div id="example">
    <div class="demo-section k-header">
        <button data-role="button" data-bind="events: {click: showMessage}">Show a notification</button>
        <div data-role="notification" id="ntf1"></div>
    </div>

<script>
    var viewModel = kendo.observable({
        now: new Date(),
        showMessage: function () {
            this.set("now", new Date());
            var time = kendo.toString(this.get("now"), "HH:mm:ss:fff");
            $("#ntf1").data("kendoNotification").info(time);
        }
    });
    kendo.bind($("#example"), viewModel);
</script>
</div>
