<div id="example">
    <div class="demo-section k-content">
        <div id="chart"></div>
    </div>
    <script>
        function createChart() {
            var foreCast = [{
                temperature: 15,
                weather: "cloudy",
                day: "Monday"
            }, {
                temperature: 16,
                weather: "rainy",
                day: "Tuesday"
            }, {
                temperature: 20,
                weather: "cloudy",
                day: "Wednesday"
            }, {
                temperature: 23,
                weather: "sunny",
                day: "Thursday"
            }, {
                temperature: 17,
                weather: "cloudy",
                day: "Friday"
            }, {
                temperature: 20,
                weather: "sunny",
                day: "Saturday"
            }, {
                temperature: 25,
                weather: "sunny",
                day: "Sunday"
            }];

            $("#chart").kendoChart({
                dataSource: foreCast,
                title: {
                    text: "Forecast"
                },
                seriesDefaults: {
                    type: "line",
                    style: "smooth"
                },
                series: [{
                    field: "temperature",
                    categoryField: "day",
                    highlight: {
                        toggle: function (e) {
                            e.preventDefault();
                            var visual = e.visual;
                            var transform = null;
                            if (e.show) {
                                transform = kendo.geometry.transform().scale(1.5, 1.5, visual.rect().center());
                            }
                            visual.transform(transform);
                        }
                    },
                    markers: {
                        size: 32,
                        visual: function (e) {
                            var src = kendo.format("../content/dataviz/chart/images/{0}.png", e.dataItem.weather);
                            var image = new kendo.drawing.Image(src, e.rect);
                            return image;
                        }
                    }
                }],
                valueAxis: {
                    labels: {
                        template: "#:value#℃"
                    }
                },
                categoryAxis: {
                    majorGridLines: {
                        visible: false
                    }
                },
                tooltip: {
                    visible: true,
                    format: "{0}%",
                    template: "#= category #: #= value #℃"
                }
            });
        }

        $(document).ready(createChart);
        $(document).bind("kendo:skinChange", createChart);
    </script>
</div>
