<div id="touchSurface">
    Touch, swipe, double-tap, tap, and hold me
</div>

<div class="console" style="min-width: 200px;"></div>

<script>
    $("#touchSurface").kendoTouch({
        enableSwipe: true,
        touchstart: function(e) { kendoConsole.log("touch start"); },
        swipe: function(e) { kendoConsole.log("swipe " + e.direction); },
        tap: function(e) { kendoConsole.log("tap"); },
        doubletap: function(e) { kendoConsole.log("double tap"); },
        hold: function(e) { kendoConsole.log("hold"); }
    });
</script>

<style>
    #touchSurface {
        background: black;
        color: white;
        padding: 100px 20px;
        text-align: center;
        font-style: italic;
        font-size: 12px;
    }
</style>
