@(Html.Kendo().Grid<Kendo.Mvc.Examples.Models.OrderViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(e => e.OrderID);
        columns.Bound(e => e.Freight);
        columns.Bound(e => e.OrderDate).Width(120).Format("{0:MM/dd/yyyy}");
        columns.Bound(e => e.ShipName).Width(260);
        columns.Bound(e => e.ShipCity).Width(150);
    })
    .Sortable()
    .Scrollable(scr => scr.Height(500))
    .DataSource(dataSource => dataSource
        .Custom()
        .Type("odata")
        .Transport(transport =>
           transport.Read(read => read.Url("http://demos.telerik.com/kendo-ui/service/Northwind.svc/Orders"))
        )
     )
)

<form action="@Url.Action("Export", "Grid")" method="POST">
    <input type="hidden" id="export-data" name="data" />
    <ul>
        <li><input type="submit" class="k-button download" data-format="xlsx" data-title="Title1" value="Export to XLSX" /></li>
        <li><input type="submit" class="k-button download" data-format="csv" data-title="Title2" value="Export to CSV" /></li>
    </ul>
</form>

<script>
    $(".download").click(function () {
        var grid = $("#grid").data("kendoGrid");
        var options = {
            data: grid.dataSource.data().toJSON(),
            model: grid.columns,
            format: $(this).data("format"),
            title: "export"
        }
        $("#export-data").val(encodeURIComponent(JSON.stringify(options)));
    });
</script>