<form action="@Url.Action("ExportAjax", "Grid")" method="POST">
    <input type="hidden" id="export-data" name="data" />
    <input type="hidden" id="export-model" name="model" />
    <input type="submit" class="k-button download" data-format="xlsx" data-title="Title1" value="Export to XLSX" />
    <input type="submit" class="k-button download" data-format="csv" data-title="Title2" value="Export to CSV" />
</form>

@(Html.Kendo().Grid<Kendo.Mvc.Examples.Models.OrderViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(e => e.OrderID).Width(100);
        columns.Bound(e => e.OrderDate).Width(120).Format("{0:MM/dd/yyyy}");
        columns.Bound(e => e.ShipName);
        columns.Bound(e => e.ShipCity);
        columns.Bound(e => e.Freight).Width(100).Hidden();
    })
    .Sortable()
    .Filterable()
    .Groupable()
    .Scrollable(scr => scr.Height(500))
    .DataSource(dataSource => dataSource
        .Custom()
        .Type("odata")
        .Transport(transport =>
           transport.Read(read => read.Url("http://demos.telerik.com/kendo-ui/service/Northwind.svc/Orders"))
        )
     )
)

<script>
    $(".download").click(function () {
        var grid = $("#grid").data("kendoGrid");
        var options = {
            data: grid.dataSource.data().toJSON(),
            format: $(this).data("format"),
            title: "export"
        }
        $("#export-data").val(encodeURIComponent(JSON.stringify(options)));
        $("#export-model").val(encodeURIComponent(JSON.stringify(grid.columns)));
    });
</script>