.k-vertical-align-top {}

.k-vertical-align-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.k-vertical-align-bottom {
  position: relative;
  top: 100%;
  transform: translateY(-100%);
}

.k-spreadsheet-pane .k-spreadsheet-cell {
  position: absolute;
  overflow: hidden;
  box-sizing: border-box;
  padding: 1px;
  white-space: pre;
}

.k-spreadsheet-pane .k-spreadsheet-cell span.k-dirty {
  position: absolute;
  top: 0;
  right: 0;
}

.k-spreadsheet-fixed-container,
.k-spreadsheet-fixed-container * {
  user-select: none;
  -o-user-select:none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.k-spreadsheet-pane .k-spreadsheet-merged-cell {
  background: #fff;
}

.k-spreadsheet-vaxis {
  position: absolute;
  top: 0;
  border-left: 1px solid #ccc;
}

.k-spreadsheet-haxis {
  position: absolute;
  left: 0;
  border-top: 1px solid #ccc;
}
