<div class="demo-section k-content">
    <h4>Find a product</h4>
    @(Html.Kendo().AutoComplete()
          .Name("products")
          .DataTextField("ProductName")
          .Filter("contains")
          .MinLength(3)
          .HtmlAttributes(new { style = "width:100%" })
          .DataSource(source => {
              source
                  .Read(read =>
                  {
                      read.Action("GetProducts", "Home");
                  });
          })
    )
    <div class="demo-hint">Hint: type "che"</div>
</div>