<div id="example" ng-app="KendoDemos">
    <div class="demo-section k-content wide" ng-controller="MyCtrl">
        <select kendo-list-box k-options="selectOptions1"></select>
        <select name="selected" id="selected" kendo-list-box k-options="selectOptions2"></select>
    </div>
</div>

<script>
  angular.module("KendoDemos", [ "kendo.directives" ])
    .controller("MyCtrl", function($scope){
        $scope.selectOptions1 = {
            dataTextField: "ProductName",
            dataValueField: "ProductID",
            connectWith: "#selected",
            toolbar: {
                position: "right",
                tools: ["moveUp", "moveDown", "remove", "transferAllFrom", "transferAllTo", "transferFrom", "transferTo"]
            },
            dataSource: {
                type: "odata",
                serverFiltering: true,
                transport: {
                    read: {
                        url: "https://demos.telerik.com/kendo-ui/service/Northwind.svc/Products",
                    }
                }
            }
        };
        $scope.selectOptions2 = {
            dataTextField: "ProductName",
            dataValueField: "ProductID"          
        };
      })
</script>

<style>
    #example .k-listbox {
        height: 320px;
    }

    #example .k-listbox:nth-child(1) {
        width: 49%;
        float: left;
    }

    #example .k-listbox:nth-child(2) {
        width: 49%;
        float: right;
    }
</style>