<div id="example" role="application" dir="rtl">
    <div class="demo-section k-content wide">
        <select id="source" title="Source">
            <option>Argentina</option>
            <option>Australia</option>
            <option>Brazil</option>
            <option>Canada</option>
            <option>Chile</option>
            <option>China</option>
            <option>Egypt</option>
            <option>England</option>
            <option>France</option>
            <option>Germany</option>
            <option>India</option>
            <option>Indonesia</option>
            <option>Kenya</option>
            <option>Mexico</option>
            <option>New Zealand</option>
            <option>South Africa</option>
            <option>USA</option>
        </select>
        <select id="destination" title="Destination"></select>
    </div>
    <script>
        $(document).ready(function () {
            $("#source").kendoListBox({
                connectWith: "#destination",
                toolbar: {
                    position: "left",
                    tools: ["transferFrom", "transferTo", "transferAllFrom", "transferAllTo"]
                },
                messages: {
                    tools: {
                        "transferFrom": "To Right",
                        "transferTo": "To Left",
                        "transferAllFrom": "All to Right",
                        "transferAllTo": "All to Left"
                    }
                }
            });

            $("#destination").kendoListBox({
                toolbar: {
                    position: "left",
                    tools: ["moveUp", "moveDown", "remove"]
                }
            });
        });
    </script>
</div>
<style>
    .k-i-arrow-60-right:before, .k-i-arrow-60-left:before,
    .k-i-arrow-double-60-right:before, .k-i-arrow-double-60-left:before {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

    .k-i-arrow-60-right:before,
    .k-i-arrow-double-60-right:before{
        margin-left: -2px;
    }

    #example .demo-section {
        max-width: none;
        width: 695px;
    }

    #example .k-listbox {
        width: 342px;
        height: 200px;
    }
</style>